- fields ||= nil
- fields_counter ||= nil
- phone ||= fields || @phone
- user = @user || current_user

= fields_for user do |uf|
  = uf.fields_for :phones, phone, :child_index => fields_counter || 'field_counter' do |f|

    %fieldset.repeating
      %p.twocol.reversed
        %span.col>
          = f.text_field :phone, :placeholder => t("placeholders.phone.phone")
        %span.col.last>
          = f.select :address_type_id, Droom::AddressType.for_selection(:phone)

      .controls
        = link_to t(:remove), '#', :class => "remove minimal", :data => {:action => "remove_fields", :holder => "fieldset"}
        - if phone.persisted?
          = f.hidden_field :_destroy, data: {role: "destroy"}

