#account
  %h1.pagetitle
    =t :resend_confirmation

  = form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f|
    = devise_error_messages!
    
    %p
      Enter the email address you signed up with and we will send you the account confirmation instructions again.
    
    %p
      = f.label :email
      %br
      = f.email_field :email, :class => 'login'
      %span.note
        = t :email_note
        
    .controls
      .save.button
        %p
          = f.submit t(:send_me_instructions), :class => "submit"

    %p.note
      If you have already confirmed your account, this won't work but you can 
      = link_to "reset your password.", new_password_path(resource_name)