- content_for :title do
  = t :welcome

#account
  %p
    %strong
      = t :hello_name, :name => resource.informal_name
    = t :welcome_preamble
  
  = form_for resource, :url => confirm_password_path, :html => {:class => 'password'} do |f|
    = f.hidden_field :confirmation_token
    
    = render "droom/users/password_fields", :f => f

    .controls
      .save.button
        = f.submit t(:continue), :class => "submit"


