- group_permission ||= @group_permission
- if group_permission.present?
  - permission ||= group_permission.permission
  - group ||= group_permission.group
  - linkid ||= "#{group.slug}_#{permission.slug.gsub('.', '_')}"

.menu{:data => {:for => "#{linkid}"}}
  %ul.actions
    %li
      = link_to t(:all_permissions), upsert_group_group_permissions_url(group, :group_permission => {:permission_id => permission.id, group_id: group.id}, :read_permission => false, :classname => 'yes', :linkid => linkid), :id => linkid, :method => :post, :data => {:action => "parent_replace", :replaced => "##{linkid}"}
    %li
      = link_to t(:read_permission), upsert_group_group_permissions_url(group, :group_permission => {:permission_id => permission.id, group_id: group.id}, :read_permission => true, :classname => 'read', :linkid => linkid), :id => linkid, :method => :post, :data => {:action => "parent_replace", :replaced => "##{linkid}"}
    %li
      - if group_permission && !group_permission.destroyed?
        = link_to t(:no_permission), group_group_permission_url(group, group_permission, :classname => 'no', :linkid => linkid), :id => linkid, :method => :delete, :data => {:action => "parent_replace", :replaced => "##{linkid}"}
