- if can? :edit, organisation
  .menu{:data => {:for => "organisation_#{organisation.id}"}}
    %ul.actions
      %li
        = link_to t(:quick_edit), droom.edit_organisation_url(organisation, view: "quick"), :class => 'edit', :data => {:action => "popup", :affected => "#organisation_#{organisation.id}"}
      %li
        = link_to t(:edit), droom.edit_organisation_url(organisation, view: "full"), :class => 'edit', :data => {:action => "popup", :affected => "#organisation_#{organisation.id}"}
      %li
        = link_to t(:add_user), droom.new_organisation_user_url(organisation), :class => 'add', :data => {:action => "popup", :affected => "#organisation_#{organisation.id}"}
      %li
        = link_to t(:delete_organisation), droom.organisation_url(organisation), :method => 'delete', :class => 'delete', :data => {:action => "remove", :removed => "#organisation_#{organisation.id}", :confirm => t(:confirm_delete_organisation, :name => organisation.name)}
