= form_for @organisation, :html => {:class => 'edit organisation'} do |f|
  %p.name
    = f.label :name
    %br
    = f.text_field :name, :required => true, :class => "name"

  %p.secondary
    = f.label :url
    %br
    = f.text_field :url, :class => "url"

  %p.secondary
    = f.label :description

  .description.wysihtml
    .toolbar#t1
      = render 'droom/shared/toolbar'
    = f.text_area :description
    %span.formnote
      = t :organisation_description_note
    
  .buttons
    = f.submit t(:save_organisation)
    = t :or
    = link_to t(:cancel), '#', :class => 'cancel'
