- organisation ||= @organisation
- open ||= organisation == @organisation

.organisation.holder{:id => "organisation_#{organisation.id}", :class => open ? "name open" : "name", :data => {:action => "collapser", :refreshable => true, :url => droom.organisation_path(organisation, :format => :js)} }
  .heading
    %h2.name<
      = link_to organisation.name, organisation_url(organisation), :class => "name"
      - if organisation.organisation_type
        %span.addendum
          = organisation.organisation_type.name
      = action_menulink(organisation)
      - if organisation.chinese_name?
        %span.chinese_name
          = organisation.chinese_name
    = action_menu(organisation)

  - if organisation.description?
    %p.preview
      = shorten(organisation.description, :length => 64)

  .detail
    = organisation.description.html_safe if organisation.description?
    - if organisation.url?
      %p.note
        = link_to organisation.url_without_protocol, organisation.url_with_protocol, :class => "external"

    - if organisation.users.any?
      %ul.people
        = render :partial => "droom/users/user", :collection => organisation.users.in_name_order