- view ||= 'gridded'
- cssclass = 'organisations_list autogrid'
- cssclass << ' compact' if @external

- if @organisations.any?

  %div{class: cssclass, data: {refreshable: true, url: "#{droom.organisations_path}.js"}}
    = render partial: "droom/organisations/show/#{view}", collection: @organisations

  .pagination.lower
    = paginate @organisations, params: {format: nil}


- else
  %p.none
    = t :no_organisations