- organisation = Droom::Organisation.new
- user = Droom::User.new


= form_for [droom, organisation], url: droom.register_organisations_path, method: "post", html: {class: 'edit organisation signup'} do |f|
  = f.fields_for :owner, user do |uf|
    %fieldset
      %p.names.threecol<
        %span.col.first>
          = uf.text_field :given_name, :required => true, placeholder: t("placeholders.user.given_name")
        %span.col>
          = uf.text_field :family_name, :required => true, placeholder: t("placeholders.user.family_name")
        %span.col.last>
          = uf.text_field :chinese_name, placeholder: t("placeholders.user.chinese_name")

      %p.email.onecol
        %span.col
          = uf.text_field :email, :required => true, placeholder: t("placeholders.user.email")

      %p.formnote
        = t :organisation_step1

  .buttons
    = f.submit t(:sign_up)
    = t :or
    = link_to t(:cancel), "/", :class => 'cancel'
