- content_for :title do
  = t :directory

- content_for :standfirst do
  - if admin?
    .admin.right
      = link_to droom.new_organisation_url, class: 'add', data: {action: "popup", prepended: "#organisations"} do
        %svg.icon.small
          %use{"xlink:href" => "#plus_symbol"}
        %span.label
          = t(:add_organisation)

      = link_to droom.new_user_url, class: 'add', data: {action: "popup", prepended: "#organisations"} do
        %svg.icon.small
          %use{"xlink:href" => "#plus_symbol"}
        %span.label
          = t(:add_user)

      - pending_count = Droom::Organisation.pending.count
      - if pending_count > 0
        = link_to droom.pending_organisations_url, class: "add" do
          %svg.icon.small
            %use{"xlink:href" => "#list_symbol"}
          %span.label
            = t(:pending_organisations_introduction, count: pending_count)

  %p
    = t :organisations_introduction, org_count: Droom::Organisation.count, person_count: Droom::User.count

%section.standard
  %form.search_and_facet{:action => droom.organisations_url, :id => "organisation_search", data: {target: '#organisations'}}
    = hidden_field_tag :page, params[:page]
    = hidden_field_tag :show, params[:show]
    = hidden_field_tag :sort, params[:sort]

    .facet<
      %svg.prefix
        %use{href: "/lms-sprites.svg#sprite-next"}
      %span.label
        Filters

    .search<
      = text_field_tag :q, params[:q], name: 'q', class: 'search', placeholder: t(:search), data: {slow: true}
      %label{for: "q"}
        %svg.icon
          %use{href: "/lms-sprites.svg#sprite-search"}

  = render "droom/organisations/list", organisations: @organisations
