- content_for :title do
  = t :directory

- content_for :search do
  = render 'droom/shared/search', url: organisations_url

- content_for :standfirst do
  - if admin?
    .admin.right
      = link_to droom.new_organisation_url, class: 'add', data: {action: "popup", prepended: "#organisations"} do
        %svg.icon.small
          %use{"xlink:href" => "#plus_symbol"}
        %span.label
          = t(:add_organisation)

      = link_to droom.new_user_url, class: 'add', data: {action: "popup", prepended: "#organisations"} do
        %svg.icon.small
          %use{"xlink:href" => "#plus_symbol"}
        %span.label
          = t(:add_user)
  %p
    = t :organisations_introduction, org_count: Droom::Organisation.count, person_count: Droom::User.count

  - if admin?
    - pending_count = Droom::Organisation.unapproved.count
    - if pending_count > 0
      %p
        = link_to droom.pending_organisations_url, class: "actions" do
          %svg.icon
            %use{"xlink:href" => "#list_symbol"}
          %span.label
            = t(:pending_organisations_introduction, count: pending_count)

- content_for :filter do
  #finder
    %form.filter{:action => droom.users_url(:format => :js), :data => {:action => "filter"}}
      %p
        = search_field_tag :q, params[:q], :results => 5, :autosave => 'person_filter'

#main.organisations
  = render :partial => 'droom/organisations/organisations'
