- content_for :title do
  = t :directory

- content_for :standfirst do
  = t :organisations_introduction, org_count: @organisations.count, person_count: Droom::User.count

- content_for :margin do
  #finder
    %form.filter{:action => droom.users_url(:format => :js), :data => {:action => "filter"}}
      %p
        = search_field_tag :q, params[:q], :results => 5, :autosave => 'person_filter'

    .scroller
      #found
        %p.note
          = t :find_people_notes


#main.organisations
  = render :partial => 'droom/organisations/organisations'
