- content_for :title do
  = @organisation.name


.org{id: "organisation_#{@organisation.id}"}

  - if @organisation.description?
    %p
      = clean_html @organisation.description
  - else
    %p
      No description available.
      - if can? :edit, @organisation
        You can
        = link_to "edit your organisation", droom.edit_organisation_url(@organisation), data: {action: "popup"}
        to add one.

  %h2
    Network members
    
  - if @organisation.users.any?
    %ul.people
      = render :partial => "droom/users/user", :collection => @organisation.users.in_name_order
      %li.person
        = link_to droom.new_organisation_user_url(@organisation.id), class: "add", data: {action: "popup", affected: "#organisation_#{@organisation.id}"} do
          %span.mugshot
            %svg
              %use{"xlink:href" => "#plus_symbol"}
          %span.contact
            %span.name
              Add a new user
