= form_for [@service, @permission], :html => { :multipart => true, :class => 'edit permission', :remote => true, :data => {:type => :html}} do |f|

  %p.name
    = f.text_field :name, :class => 'name', :placeholder => t("helpers.label.droom.service.name"), :autofocus => true

  %p.description
    = f.text_area :description, :class => 'description', :placeholder => t("helpers.label.droom.service.description")

  %p.service
    = f.label :service_id
    %br
    = f.select :service_id, Droom::Service.for_selection

  .buttons
    = f.submit t(:save_permission)
    = t :or
    = link_to t(:cancel), "/", :class => 'cancel'
