%fieldset.faceting{data: {refreshing: true}}
  - if @users.respond_to? :aggs

    - group_type_options = aggs_option_tags(@users.aggs['groups']['buckets'], klass: "Droom::Group", primary_key: :slug, selected: params[:account_group])
    = select_tag "account_group", group_type_options, { include_blank: t(:filter_group_type), class: "facet" }

    - account_confirmed_options = aggs_option_tags(@users.aggs['account_confirmation']['buckets'], selected: params[:account_confirmed], desc: true)
    = select_tag "account_confirmed", account_confirmed_options, { include_blank: t(:filter_account_confirmed), class: "facet" }

    - organisation_options = aggs_option_tags(@users.aggs['organisation']['buckets'], klass: "Droom::Organisation", selected: params[:account_confirmed], desc: false)
    = select_tag "organisation", organisation_options, { include_blank: t(:filter_organisation), class: "facet" }
  - else
    = select_tag "account_group", options_for_select(Droom::Group.all.collect{ |u| [u.name, u.slug]}), { include_blank: t(:filter_group_type), class: "facet" }
    = select_tag "account_confirmed", options_for_select(['Yes', 'No'],['yes', 'no']), { include_blank: t(:filer_account_confirmed), class: "facet" }
