- if @user.image?
  - img = @user.image.url(:thumb)
- else
  - img = image_url('droom/missing/user.png')

= form_for @user, :html => {:class => 'edit user password', :autocomplete => false} do |f|
  .image-upload{:data => {:role => "imagepicker"}}
    %a.box{:href => "#", :style => "background-image: url(#{img})", :data => {:action => "pick"}}
    = f.file_field :image

  %p.names
    %span.name
      = f.label :family_name, class: 'required'
      %br
      = f.text_field :family_name, :required => true, :autofocus => true
    %span.name
      = f.label :given_name, class: 'required'
      %br
      = f.text_field :given_name, :required => true
    %span.chinese_name
      = f.label :chinese_name, '中国姓名'
      %br
      = f.text_field :chinese_name, :required => true

  .non-file-data
    .contacts
      %p.email
        = f.label :email, class: 'required'
        %br
        = f.text_field :email, :required => true
  
      %p.phone
        = f.label :phone, :class => "optional"
        %br
        = f.text_field :phone

      - if Droom.use_separate_mobile_number
        %p.secondary
          = f.label :mobile, :class => "optional"
          %br
          = f.text_field :mobile

    - if admin?
      - if Droom.use_organisations?
        %p.organisation
          = f.label :organisation_id
          %br
          = f.select :organisation_id, Droom::Organisation.for_selection, :class => 'preferences'

    - if Droom.use_biogs?
      - @user.description = "<p></p>" unless @user.description?
      .description.wysihtml
        .toolbar#t1
          = render 'droom/shared/toolbar'
        = f.text_area :description

    - if admin?
      %p.memberships
        = f.label :group_ids, "Group memberships", class: "important"
        %br
        - Droom::Group.all.each do |group|
          %label.inline{for: "group_ids_#{group.id}"}
            = f.check_box :group_ids, {}, group.id
            = group.name

    - if @user.new_record?
      %p.formnote
        = t :new_user_note

  .buttons
    - if @user == current_user
      = f.submit t(:save_your_profile)
    - else
      = f.submit t(:save_user)
    = t :or
    = link_to t(:cancel), '#', :class => 'cancel'
  
