= form_for @user, :html => {:class => 'edit user preferences', :autocomplete => false} do |f|

  %p.email
    = f.label :email
    %br
    = f.text_field :email, :class => 'preferences', :autocomplete => false

  %p.password
    = f.label :password
    %br
    = f.password_field :password, :autocomplete => "off", :class => 'preferences password', :pattern => ".{6,}"
    %br
    %span.note
      = t :password_requirements

  %p.confirmation
    = f.label :password_confirmation
    %br
    = f.password_field :password_confirmation, :class => 'preferences password_confirmation', :pattern => ""

  %p.password_notice

  .buttons
    = f.submit t(:save_changes), :class => "submit"
    = t :or
    = link_to t(:cancel), '#', :class => "cancel"

