= form_for @user, :html => {:class => 'edit user password', :autocomplete => false} do |f|

  %p.email
    = f.label :email
    %br
    = f.email_field :email, :class => 'preferences', :autocomplete => false

  = render "droom/users/password_fields", :f => f

  .buttons
    = f.submit t(:save_changes), :class => "submit"
    = t :or
    = link_to t(:cancel), '#', :class => "cancel"

