= form_for @user, :html => {:class => 'edit user', :autocomplete => false} do |f|

  = render partial: "droom/users/user_fields", locals: {f: f, user: @user}

  .buttons
    - if @user == current_user
      = f.submit t(:save)
    - else
      = f.submit t(:save_user)
    = t :or
    = link_to t(:cancel), '#', :class => 'cancel'
  
