- if @user.image?
  - img = @user.image.url(:thumb)
- else
  - img = image_url('droom/missing/thumb.png')

= form_for @user, :html => {:class => 'edit user password', :autocomplete => false} do |f|

  .image{:data => {:role => "imagepicker"}}
    %a.uploadbox{:href => "#", :style => "background-image: url(#{img})", :data => {:action => "pick"}}
    = f.file_field :image

  - if Droom.use_forenames?
    %p.name
      = f.label :forename
      %br
      = f.text_field :forename, :required => true, :autofocus => true
    %p.name
      = f.label :name, "Surname"
      %br
      = f.text_field :name, :required => true

  - else
    %p.name
      = f.label :name
      %br
      = f.text_field :name, :required => true, :autofocus => true

  .non-file-data
    .contacts
      %p.email
        = f.label :email
        %br
        = f.text_field :email, :required => true
  
      %p.phone
        = f.label :phone, :class => "optional"
        %br
        = f.text_field :phone

      - if Droom.use_separate_mobile_number
        %p.secondary
          = f.label :mobile, :class => "optional"
          %br
          = f.text_field :mobile

    - if admin?
      - if Droom.use_organisations?
        %p.organisation
          = f.label :organisation_id
          %br
          = f.select :organisation_id, Droom::Organisation.for_selection, :class => 'preferences'

      - if @user.new_record?
        %p.admin
          = f.check_box :invite_on_creation, :class => 'invite'
          = f.label :invite_on_creation      
          = f.check_box :admin_user
          = f.label :admin_user

    - if Droom.use_biogs?
      - @user.description = "<p></p>" unless @user.description?
      .description.wysihtml
        .toolbar#t1
          = render 'droom/shared/toolbar'
        = f.text_area :description

  .buttons
    - if @user == current_user
      = f.submit t(:save_your_profile)
    - else
      = f.submit t(:save_user)
    = t :or
    = link_to t(:cancel), '#', :class => 'cancel'
  
