- user ||= current_user
- destination ||= '/'

= form_for user, url: droom.set_password_user_path(user), method: "PUT" do |f|
  = hidden_field_tag :destination, destination

  %fieldset{data: {role: 'password'}}
    %p.set_password
      %span.col.password>
        = f.label :password, class: "required"
        = f.password_field :password, placeholder: t(:password_requirement), required: true, data: {role: "password"}

      %span.col.confirmation{:data => {:role => "confirmation"}}>
        = f.label :password_confirmation, class: "required"
        = f.password_field :password_confirmation, placeholder: "", required: true

    %p.buttons
      = f.submit "Save and continue"
