- user ||= suggested

%li.user
  %span.suggestion
    = link_to user_url(user), data: {:action => "popup"} do
      = user.colloquial_name
    %br
    - if user.phone? || user.email?
      - if user.phone?
        = user.phone
      - if user.phone? && user.email?
        %br
      - if user.email?
        = mail_to user.email
    - else
      = t :contact_information_unavailable
