- user ||= tabled_user || @user
- rowid = "user_#{user.id}"
- cssclass = "user"

%tr{:id => rowid, :class => cssclass}
  %td.name
    = link_to user.full_name, user_url(user), :data => {:action => "popup"}

  %td.email
    = mail_to user.email

  %td.invited.toggle{:data => {:hoverable => true}}
    - if user.confirmed? || user.invited?
      %span.yes
    - else
      = link_to t(:invite), invite_user_url(user), :class => "no", :data => {:action => "replace", :replaced => "##{rowid}"}

  %td.confirmed.toggle{:data => {:hoverable => true}}
    - if user.confirmed?
      %span.yes
    - else
      = link_to "&nbsp;", user_url(user, :user => { :confirm => true }, :format => :js, :response_partial => "user"), :class => "no", :method => :put, :remote => true, :data => { :action => "replace", :replaced => "##{rowid}" }

  %td.d.admin.toggle{:data => {:hoverable => true}}
    - if user.admin?
      = link_to "&nbsp;", user_url(user, :user => { :admin => false }, :format => :js, :response_partial => "user"), :class => "yes", :method => :put, :remote => true, :data => { :action => "replace", :replaced => "##{rowid}" }
    - else
      = link_to "&nbsp;", user_url(user, :user => { :admin => true }, :format => :js, :response_partial => "user"), :class => "no", :method => :put, :remote => true, :data => { :action => "replace", :replaced => "##{rowid}" }

  - groups = Droom::Group.all
  - groups.each_with_index do |group, i|
    %td.toggle.group{:class => "g_#{group.id} #{'d' if i == groups.length-1}", :data => {:hoverable => true}}
      = render :partial => "droom/memberships/toggle", :locals => {:group => group, :user => user}
