- user ||= @user
- invitation ||= @invitation
- membership ||= false
- event ||= false
- group ||= false
- cssclass = "person"
- ineditable ||= false
- if user.image?
  - img = user.image.url(:thumb)
- else
  - img = image_url('droom/missing/thumb.png')

- if invitation
  - cssclass << " #{invitation.status}"
  - event = invitation.event
- if membership
  - group = membership.group

%li{:id => "user_#{user.id}", :class => cssclass, :data => {:refreshable => true, :url => droom.user_path(user, :format => :js, :invitation_id => invitation ? invitation.id : nil)} }
  %span.mugshot{:style => "background-image: url(#{img})"}
    - if invitation
      - if editable?(invitation)
        = link_to invitation.status, toggle_event_invitation_url(event, invitation), :class => "invitation #{invitation.status}", :data => {:action => "affect", :method => "put", :affected => "#user_#{user.id}"}
      - else
        %span{:class => "invitation #{invitation.status}"}
  %span.contact
    %span.name
      = link_to truncate(user.informal_name, :length => 32), user_url(user), :data => {:action => "popup"}
      = action_menulink(user, :class => "small")
    %br
    %span.note
      - if user.email? || user.phone?
        - if user.email?
          = mail_to truncate(user.email, :length => 32)
        - if user.email? && user.phone?
          %br
        - if user.phone?
          = user.phone
        
      - else
        = t :contact_information_unavailable
        
    = action_menu(user, :event => event, :group => group)
