- groups = Droom::Group.all

%div
  %p
    - if can?(:create, Droom::User)
      = link_to t(:add_user), new_user_url, :class => 'add', :data => {:action => 'popup', :affected => '#users'}
    %br
    - if can?(:create, Droom::Group)
      = link_to t(:add_group), new_group_url, :class => 'add', :data => {:action => 'popup', :affected => '#users'}

  %form.faceter{:action => droom.admin_users_url(:format => :html), :autocomplete => 'off', :id => "users_search", :data => { target: "#users" }}
    %fieldset.search<
      = text_field_tag :q, params[:q], name: 'q', class: 'search', placeholder: t(:search), data: {slow: true}
      = submit_tag 'search'

    = link_to "▾ more options", '#', class: "select", data: {action: "toggle", affected: ".user_selection", sticky: true}

    .user_selection
      = render 'aggregations'

  - if @users.any?
    %table.main.toggles#users{:data => {:refreshable => true, :url => "#{admin_users_path}.js"}}
      %thead
        %tr
          %th Name
          %th Email
          %th Last visit
          %th Groups
          %th Admin

      = render :partial => 'droom/users/show/tabled', :collection => @users

  - else
    .everyone
      %p
        No users have been created. It is odd that you can see this page.