- groups = Droom::Group.all

- if @users.any?
  %p
    - if can?(:create, Droom::User)
      = link_to t(:add_user), new_user_url, :class => 'add', :data => {:action => 'popup', :affected => '#users'}
    %br
    - if can?(:create, Droom::Group)
      = link_to t(:add_group), new_group_url, :class => 'add', :data => {:action => 'popup', :affected => '#users'}

  %form.filter{:action => droom.admin_users_url(:format => :html), :autocomplete => 'off', :data => {:action => "table_filter", target: "#users"}}
    %p
      = search_field_tag :q, params[:q], :results => 5, :autosave => 'people_filter'

  %table.main.toggles#users{:data => {:refreshable => true, :url => "#{admin_users_path}.js"}}
    %thead
      %tr
        %th Name
        %th Email
        %th Last Signed in at
        %th Groups
        %th Admin

    = render :partial => 'droom/users/show/tabled', :collection => @users

- else
  .everyone
    %p
      No users have been created. It is odd that you can see this page.