#edit_user
  .header
    = link_to "X", '#', :class => "closer", :data => {:action => "close"}
    %h2
      = t :account_settings
      - unless @user == current_user
        = t :for
        = @user.name

  = render :partial => 'form'
