#edit_user
  .header
    = link_to "X", '#', :class => "closer", :data => {:action => "close"}
    %h2.titlebar
      = t :account_settings
      - unless @user == current_user
        = t :for
        = @user.name

  = form_for @user, :html => {:class => 'edit user password', :autocomplete => false} do |f|

    %p.email
      = f.label :email
      %br
      = f.email_field :email, :class => 'preferences', :autofocus => true

    = render "droom/users/password_fields", :f => f

    .buttons
      - if @user == current_user
        = f.submit t(:save_your_profile)
      - else
        = f.submit t(:save_user)
      = t :or
      = link_to t(:cancel), '#', :class => 'cancel'

