- content_for :pagetitle do
  = t :welcome

#account
  %h1.pagetitle
    =t :welcome

  = form_for @user, :html => {:class => 'edit user'} do |f|
    %p
      %strong
        = t :hello
        = @user.name
      = t :welcome_preamble

    %p
      = f.label :password, t(:password_instructions)
      %br
      = f.password_field :password, :autocomplete => "off", :class => 'preferences password required', :required => true
      %br
      %span.formnote
        = t :password_requirements

    %p{:class => 'confirmation'}
      = f.label :password_confirmation, t(:password_confirmation_instructions)
      %br
      = f.password_field :password_confirmation, :class => 'preferences required'
      %br
      %span.formnote
        = t :password_confirmation_requirements

    %p.notice
      Please choose a password before you proceed.
        
    .controls
      .save.button
        = f.submit t(:continue), :class => "submit"
