- if editable?(folder)
  .menu{:id => "folder_menu_#{folder.id}"}
    %ul.actions
      %li
        = link_to t(:edit_folder), droom.edit_folder_url(folder), :class => "edit", :data => {:action => "popup", :type => "html", :affected => "#folder_#{folder.id}"}
      %li
        = link_to t(:add_document), droom.new_folder_document_url(folder), :class => "add", :data => {:action => "popup", :type => "html", :affected => "#folder_#{folder.id}"}
      %li
        = link_to t(:add_subfolder), droom.new_folder_folder_url(folder), :class => "add", :data => {:action => "popup", :type => "html", :affected => "#folder_#{folder.id}"}
      %li
        = link_to t(:delete_folder), droom.folder_url(folder), :method => 'delete', :class => 'delete', :data => {:action => "remove", :removed => "#folder_#{folder.id}", :confirm => t(:confirm_delete_folder, :path => folder.path)}
      - if folder.populated?
        %li
          = link_to t(:download_folder), droom.folder_url(folder, :zip), :class => 'download'
