- limit ||= false
- for_more ||= false
- flat ||= false
- narrow ||= false
- document_count = folder.documents.count

%ul.filing
  - if folder.children.any? or folder.documents.any?
    - if limit && limit < document_count
      = render :partial => 'droom/documents/listing', :collection => folder.documents.limit(limit)
      - if for_more
        %li.more
          = link_to t(:more_documents_count, :count => document_count - limit), for_more

    - else
      = render :partial => 'droom/documents/listing', :collection => folder.documents, locals: {narrow: narrow}
      - children = folder.children
      - if flat
        - if children.any? && for_more
          %li.more
            = link_to t(:more_subfolders_count, :count => children.count), for_more
        
      - else
        / special case: if we're looking at a private folder that means we are allowed to see its children.
        - unless admin? || !folder.public?
          - children = folder.children.populated

        - if limit && limit < document_count + folder.children.count
          - children = children.limit(limit - document_count)
          - children = children.populated unless can?(:edit, folder)
          = render :partial => 'droom/folders/folder', :collection => children, :locals => {:defer_contents => true}
          - if for_more
            %li.more
              = link_to t(:more), for_more

        - else
          = render :partial => 'droom/folders/folder', :collection => children, :locals => {:defer_contents => true}
