- folder ||= @folder
- title ||= folder.slug
- open ||= false
- cssclass = open ? "folder holder open" : "folder holder"

%div{:class => cssclass, :id => "folder_#{folder.id}", :data => {:refreshable => true, :url => droom.folder_path(folder, :format => :js)} }
  - if folder.populated?
    %h3
      = link_to title, "#", :class => "folder"

    %ul.filing
      = render :partial => 'droom/folders/folder', :collection => folder.children.populated
      = render :partial => 'droom/documents/listing', :collection => folder.documents

    - if dropbox?
      %span.admin
        - if editable?(folder)
          = link_to t(:add_document), droom.new_folder_document_url(folder), :class => "add", :remote => true, :data => {:action => "popup", :type => "html", :affected => "#folder_#{folder.id}"}
          %br
        = link_to t(:copy_to_dropbox), dropbox_folder_url(folder, :format => :js), :class => "dropbox", :remote => true

  - elsif editable?(folder)
    = link_to t(:add_document), droom.new_folder_document_url(folder), :class => "add", :remote => true, :data => {:action => "popup", :type => "html", :affected => "#folder_#{folder.id}"}
