- folder ||= @folder
- title ||= folder.slug
- open ||= false
- cssclass = open ? "folder holder open" : "folder holder"

%div{:class => cssclass, :id => "folder_#{folder.id}", :data => {:refreshable => true, :url => droom.folder_path(folder, :format => :js)} }
  %h3
    = link_to title, "#", :class => "folder"
    - if editable?(folder)
      %span.admin
        = link_to t(:add_document), droom.new_folder_document_url(folder), :class => "add minimal", :remote => true, :data => {:action => "popup", :type => "html", :affected => "folder_#{folder.id}"}
        - if dropbox? && current_user.pref('dropbox.strategy') == "clicked"
          = link_to " ", droom.dropbox_folder_url(folder), :class => "minidropbox", :remote => true, :data => {:action => "dropbox", :type => "html"}
    
  = render :partial => "droom/folders/contents", :locals => {:folder => folder}

