= form_for @folder, :html => {:class => 'edit folder'} do |f|
  = f.hidden_field :parent_id

  %p.error{style: 'color: red'}
  %p.name
    = f.label :name
    %br
    = f.text_field :name, required: true, class: "name", placeholder: t("helpers.label.folder.name"), autofocus: true, data: {role: 'name'}

  %p.slug
    %strong<
    - if @folder.parent
      = @folder.parent.path + "/"
    - else
      \/
    %br
    = f.text_field :slug, :class => "slug", :placeholder => t("helpers.label.folder.slug"), data: {role: 'slug'}, readonly: true, style: "background: #eee"

  .buttons
    = f.submit t(:save_folder)
    = t :or
    = link_to t(:cancel), '#', :class => 'cancel'
