#main.folders{:data => {:panel => false}}
  %p
    = t :library_introduction
  
  - if admin?
    %p.action
      = link_to t(:hide_empty_folders), '#', :class => "toggle", :data => {:action => "toggle", :affected => ".folder.empty"}
      %br
      = link_to t(:add_root_folder), droom.new_folder_url, :class => "add", :data => {:action => "popup", :affected => "#folders"}
      %br
      %span.note
        = t :unattached_folder_note
      

  = render :partial => 'folders'

- content_for :title do
  = t :library


- content_for :margin do
  #finder
    %h3
      = t :find_documents

    %form.filter{:action => droom.documents_url(:format => :js), :data => {:action => "filter"}}
      %p
        = text_field_tag :q, params[:q], :placeholder => t(:by_name)
    
    .scroller
      #found
        %p.waiting
          = t :loading_documents
  
