- content_for :title do
  = t :library

- content_for :standfirst do
  %p
    = t :library_introduction


- content_for :margin do
  - if can?(:manage, Droom::Folder)
    %p.action
      = link_to t(:hide_empty_folders), '#', :class => "toggle", :data => {:action => "toggle", :affected => ".folder.empty"}
      %br
      = link_to t(:add_root_folder), droom.new_folder_url, :class => "add", :data => {:action => "popup", :affected => "#folders"}

  #finder
    %form.filter{:action => droom.documents_url(:format => :js), :autocomplete => 'off', :data => {:action => "filter"}}
      %p
        = search_field_tag :q, params[:q], :results => 5, :autosave => 'document_filter'

    .scroller
      #found
        %p.note
          = t :find_document_notes


#main.folders{:data => {:panel => false}}
  = render :partial => 'folders'

