- event ||= @event

.documents{ :"data-url" => "#{event_documents_path(event)}.js", :"data-refreshable" => true}

  - if event.document_attachments.any?
    %h2
      = t :attachments
    = render :partial => "droom/events/attachment_list", :object => event.document_attachments.unfiled, :locals => {:limit => 100}
  
    - event.attachments_by_category.each_pair do |cat_name, atts|
      - if atts.any?
        - unless cat_name == "uncategorised"
          %h3
            = cat_name
          = render :partial => "droom/events/attachment_list", :object => atts, :locals => {:limit => 100}
