%table.main.documents.sortable{:data => {:sort => @sort, :order => @order, :url => "#{documents_path}.js"}}
  - if @documents.current_page > 1
    %thead
      %tr
        %td{:colspan => 6}
          = render :partial => 'pagination', :locals => {:with_info => false}
  %thead
    %tr
      - %w{name filename filesize created}.each do |col|
        %th
          - if @sort == col 
            - order = @order.downcase == 'desc' ? 'asc' : 'desc'
            - cssclass = "sorter #{@order.downcase}"
          - else
            - order = "asc"
            - cssclass = 'sorter'
          = link_to t(:"helpers.label.droom.document.#{col}"), documents_path(:sort => col, :order => order, :format => :js), :class => cssclass, :remote => true


  - if @documents.any?
    = render :partial => 'table_document', :collection => @documents
    %tbody
      %tr
        %td{:colspan => 6}
          = render :partial => 'pagination', :locals => {:with_info => true}
  - else
    %tbody
      %tr
        %td{:colspan => 6}
          %p.nothing_to_see
            = t :no_documents
      