- event ||= @event

- if admin?
  %p.admin
    = link_to t(:add_document), droom.new_event_document_url(event), :class => "add", :remote => true, :data => {:action => "append_form", :target => ".new_document_form", :type => "html", :affected => ""}
    .new_document_form

.documents{ :"data-url" => "#{event_documents_path(event)}.js", :"data-refreshable" => true}

  - if event.document_attachments.any?
    %h2
      = t :attachments
    = render :partial => "droom/events/attachment_list", :object => event.document_attachments.unfiled, :locals => {:limit => 100}
  
    - event.agenda_sections.each do |asec|
      - if asec.document_attachments.any?
        %h3
          = asec.name
        = render :partial => "droom/events/attachment_list", :object => asec.document_attachments, :locals => {:limit => 100}
