= form_for [@event, @document], :html => {:class => 'edit document'} do |f|
  .filepicker
    = link_to "choose file", "#", :class => "ul minimal #{@document.file_extension}"
    = f.file_field :file, :class => "file"
  .other
    %p.name
      = f.text_field :name, :class => 'name', :placeholder => t(:document_name)
    %p.description
      = f.text_area :description, :class => 'description', :placeholder => t(:document_description)

    .buttons
      = link_to t(:save_doc), '#', :class => 'submit'
      / = f.submit t(:save_doc)
      = t :or
      = link_to t(:cancel), "/", :class => 'cancel'
