- addressing = @event ? [@event, @document] : @document

= form_for addressing, :html => {:class => 'edit document'} do |f|
  .filepicker
    = link_to "choose file", "#", :class => "ul minimal #{@document.file_extension}"
    = f.file_field :file, :class => "file"
    %p.tip
      = t :click_to_choose_file
  .metadata
    %p.name
      = f.text_field :name, :class => 'name', :placeholder => t(:document_name)
    %p.description
      = f.text_area :description, :class => 'description', :placeholder => t(:document_description)

    .buttons
      = f.submit t(:save_document)
      = t :or
      = link_to t(:cancel), "/", :class => 'cancel'
