= form_for @document, :html => { :multipart => true, :class => 'edit document', :remote => true, :data => {:type => :html}} do |f|
  - if @event
    = f.hidden_field :event_id, :value => @event.id
  - if @category
    = f.hidden_field :attachment_category_id, :value =>  @category.id

  .filepicker
    = link_to "choose file", "#", :class => "ul minimal #{@document.file_extension}"
    = f.file_field :file, :class => "file"
    %p.tip
      = t :click_to_choose_file

  .metadata
    %p.name
      = f.text_field :name, :class => 'name', :placeholder => t(:document_name)
    %p.description
      = f.text_area :description, :class => 'description', :placeholder => t(:document_description)

    .buttons
      = f.submit t(:save_document)
      = t :or
      = link_to t(:cancel), "/", :class => 'cancel'
