= form_for [@folder, @document], :html => { :multipart => true, :class => 'edit document', :remote => true, :data => {:type => :html}} do |f|

  %p.slug
    = @folder.path + "/"

  .filepicker{:data => {:role => "filepicker"}}
    %label.tip{:class => "ul minimal #{@document.file_extension}", :data => {:action => "pick"}}
      = f.file_field :file, :class => "file"
      Choose file

  .non-file-data
    %p.name
      = f.text_field :name, :class => 'name', :placeholder => t(:"helpers.label.document.name"), :autofocus => true
    %p.description
      = f.text_area :description, :class => 'description', :placeholder => t(:"helpers.label.document.description")

    .buttons
      = f.submit t(:save_document)
      = t :or
      = link_to t(:cancel), "/", :class => 'cancel'
