= form_for [@folder, @document], :html => { :multipart => true, :class => 'edit document', :remote => true, :data => {:type => :html}} do |f|

  %p.slug
    = @folder.path + "/"

  .filepicker
    = link_to "choose file", "#", :class => "ul minimal #{@document.file_extension}"
    = f.file_field :file, :class => "file"
    %p.tip
      = t :click_to_choose_file

  .metadata
    %p.name
      = f.text_field :name, :class => 'name', :placeholder => t(:"activerecord.attributes.droom.document.name"), :autofocus => true
    %p.description
      = f.text_area :description, :class => 'description', :placeholder => t(:"activerecord.attributes.droom.document.description")

    .buttons
      = f.submit t(:save_document)
      = t :or
      = link_to t(:cancel), "/", :class => 'cancel'
