= form_for @document, :html => {:class => 'edit document'} do |f|
  .filepicker
    = link_to "choose file", "#", :class => "ul minimal #{@document.file_extension}"
  %p.name
    = f.text_field :name, :class => 'name', :placeholder => t(:document_name)
  %p.description
    = f.text_area :description, :class => 'description', :placeholder => t(:document_description)

  .buttons
    = f.submit t(:save_doc)
    = t :or
    = link_to t(:cancel), "/", :class => 'cancel'
