- document ||= listing
- narrow ||= false
- character_count = narrow ? 20 : 64

%li.document{:id => "list_document_#{document.id}", data: {narrow: narrow}}
  = link_to shorten(document.name, character_count, ''), droom.folder_document_url(document.folder, document), class: "document #{document.file_extension.downcase}", target: "_blank"
  - if can? :edit, document
    %span.action
      = link_to t(:remove), droom.folder_document_url(document.folder, document), :method => :delete, :class => 'delete minimal', :data => {:action => "remove", :removed => "#list_document_#{document.id}", :confirm => t(:confirm_remove_document, :name => document.name)}
