- listing ||= nil
- omit_menu ||= false
- document ||= listing || @document
- narrow ||= false
- character_count = narrow ? 28 : 64

%li.document{:id => "document_#{document.id}", data: {narrow: narrow, doc_id: document.id}}
  - extension = document.file_extension.downcase
  = link_to droom.folder_document_url(document.folder, document), class: "document #{extension == 'pdf' ? 'no-bg-image' : ''} #{extension}", target: "_blank" do
    - if extension == 'pdf'
      %svg.icon.medium
        %use{"xlink:href" => "#pdf_symbol"}
    %span
      = shorten(document.name, character_count, '')
  - unless omit_menu
    = action_menulink(document)
  = action_menu(document)
