- document ||= table_document
- cssclasses = ["document"]
- cssclasses << document.file_extension
- cssclasses << 'changed' if document.changed_since_creation?

%tr.document.holder{:id => "document_#{document.id}"}
  %th.name
    = link_to truncate(document.name, :length => 24), document_url(document), :class => cssclasses.join(' '), :title => t(:click_to_download, :name => document.file_file_name)
  %td.filename.minor
    %span.note
      = truncate(document.file_file_name, :length => 18)
  %td.filesize.minor
    %span.note
      = number_to_human_size(document.file_file_size)
  %td.created.minor
    %span.note
      = l document.created_at.to_date, :format => :minimal_with_year
  - if current_user.admin?
    %td.admin<
      = link_to t(:edit), edit_document_url(document), :class => 'edit minimal', :remote => true, :data => {:action => "popup", :replaced => "#document_#{document.id}"}
      = link_to t(:remove), document_url(document), :method => 'delete', :class => 'delete minimal', :remote => 'true', :data => {:confirm => t(:confirm_delete_document, :name => document.name)}
%tr
  %td.description{:colspan => 6}
    %p
      = document.description