- if current_user.admin?
  %p.admin
    = link_to t(:add_document), droom.new_document_url, :class => "add", :remote => true, :data => {:action => "append_form", :type => "html"}

#documents
  %table.main.sortable{ :"data-tag" => "update_on_insert" }
    %thead
      %tr
        %th
          %a.sorter{:href => "#", :"data-sort" => "name"}
            = t :document_name
        %th.minor
          %a.sorter{:href => "#", :"data-sort" => "filename"}
            = t :document_filename
        %th.minor
          %a.sorter{:href => "#", :"data-sort" => "created"}
            = t :document_created_at
        %th
          %a.sorter{:href => "#", :"data-sort" => "event"}
            = t :document_attached_to
        %th.minor
          %a.sorter{:href => "#", :"data-sort" => "section"}
            = t :document_agenda_section
    %tbody
      = render :partial => 'documents_table'
