- image_url = @help.main_image.url(:hero) if @help.main_image

= form_for @help, html: {class: "help", data: {editor: "ed"}} do |f|

  %p.name
    = f.label :title
    %br
    = f.text_field :title, required: true, class: "name", placeholder: t("helpers.label.help.title"), autofocus: true, data: {role: 'name'}

  %p.slug.twocol<
    %span.category.col>
      = f.text_field :category, :class => "category", :placeholder => t("helpers.label.help.category"), data: {role: 'category'}
    %span.slug.col>
      = f.text_field :slug, :class => "slug", :placeholder => t("helpers.label.help.slug"), data: {role: 'slug'}

  .content.wysihtml
    .toolbar#t1
      = render 'droom/shared/toolbar', omit_headings: true
    = f.text_area :content, :id => 'd1', :placeholder => t("helpers.label.help.content"), data: {role: 'content'}

  .buttons
    = f.submit t(:save)
    = t :or
    = link_to t(:cancel), '#', :class => 'cancel'
