- content_for :pagetitle do
  = t :welcome

#account
  %h1.pagetitle
    =t :welcome

  = form_for resource, :url => confirm_password_path, :html => {:class => 'edit user password'} do |f|
    = f.hidden_field :confirmation_token
    
    %p
      %strong
        = t :hello
        = @user.formal_name
      = t :welcome_preamble

    = devise_error_messages!

    = render "droom/users/password_fields", :f => f
        
    .controls
      .save.button
        = f.submit t(:continue), :class => "submit"
