- content_for :title do
  = t :welcome

-content_for :standfirst do
  %p
    %strong
      Hello
      = @user.formal_name.strip + "."
    = t :welcome_preamble

#account
  = form_for resource, :html => {:class => 'edit user password'} do |f|

    = render "droom/users/edit/password_fields", :f => f

    .controls
      .save.button
        = f.submit t(:continue), :class => "submit"
