- user ||= current_user
- destination ||= nil

%p
  = t :set_password_preamble

= form_for user, url: droom.set_password_users_path, method: "PUT" do |f|
  - if destination
    = hidden_field_tag :destination, destination
  
  %fieldset{data: {role: 'password'}}
    %p.set_password
      %span.col.password>
        = f.label :password, class: "required"
        = f.password_field :password, placeholder: "Six characters or more, please", required: true, data: {role: "password"}

      %span.col.confirmation{:data => {:role => "confirmation"}}>
        = f.label :password_confirmation, class: "required"
        = f.password_field :password_confirmation, placeholder: "", required: true

      %span.col.button
        %br
        = f.submit "Set password"

    %p.password_quality{data: {role: "meter"}}
      %span.meter{data: {role: "gauge"}}
      %span.instructions{data: {role: "warnings"}}

%p
  On your next visit you will be able to sign in directly with the email address
  %strong
    = user.email
  and the password you choose here.
