= fields_for current_user do |f|
  - pref = current_user.preference(key)
  = f.fields_for :preferences, pref, :child_index => pref.uuid do |pf|
    = pf.hidden_field :key
    = pf.hidden_field :uuid
    = pf.check_box :value, class: "preference_#{key.gsub('.', '_')}"
    = pf.label :value, t(:"preferences.#{key}")
