- organisation ||= @organisation

- if organisation.new_record?
  - title = t(:add_organisation)
- elsif organisation.external?
  - if organisation == current_user.organisation
    - title = t(:edit_your_organisation)
  - else
    - title = t(:edit_organisation_external)
- else
  - title = t(:edit_organisation)

#edit_organisation
  = render 'droom/shared/popup_header', title: title

  = form_for [droom, organisation], :html => {:class => 'edit organisation'} do |f|
    %p.name.twocol<
      %span.col>
        = f.text_field :name, :required => true, :autofocus => true, placeholder: t("placeholders.organisation.name")
      %span.col>
        = f.text_field :chinese_name, placeholder: t("placeholders.organisation.chinese_name")

    %p.secondary.twocol
      %span.col>
        = f.label :url
        %br
        = f.url_field :url, :class => "url", placeholder: t("placeholders.organisation.url")

      %span.col>
        = f.label :organisation_type_id
        %br
        = f.select :organisation_type_id, Droom::OrganisationType.for_selection, :class => 'preferences'

    %p.secondary.tagger
      = f.label :keywords
      %br
      = f.text_field :keywords, placeholder: t("placeholders.organisation.keywords"), class: "tags"

    - if admin? || organisation_admin?(organisation)
      %p.secondary.admins
        = f.label :administrator_ids
        %br
        - @organisation.users.each do |u|
          = f.check_box :administrator_ids, {multiple: true, class: "fancy"}, u.id
          = f.label :administrator_ids, u.name, value: u.id

    .description
      = f.label :description
      %br
      = f.text_area :description, class: "rte", placeholder: t("placeholders.organisation.description")
 
    - if admin?
      %p.admin
        = f.check_box :external, class: 'fancy'
        = f.label :external
    
    .buttons
      = f.submit t(:save)
      = t :or
      = link_to t(:cancel), '#', :class => 'cancel'
