- organisation ||= @organisation

#edit_organisation
  .header{data: {draggable: ".popup", remembered: "organisation"}}
    = link_to "X", '#', :class => "closer", :data => {:action => "close"}
    %h2.titlebar
      - if organisation.new_record?
        = t :add_organisation
      - else
        = t :quick_edit_organisation

  = form_for [droom, organisation], :html => {:class => 'edit organisation'} do |f|
    %p.name.twocol<
      %span.col>
        = f.text_field :name, :required => true, :autofocus => true, placeholder: t("placeholders.organisation.name")
      %span.col>
        = f.text_field :chinese_name, placeholder: t("placeholders.organisation.chinese_name")

    %p.secondary
      = f.label :url
      %br
      = f.url_field :url, :class => "url", placeholder: t("placeholders.organisation.url")

    %p.secondary.tagger
      = f.label :keywords
      %br
      = f.text_field :keywords, placeholder: t("placeholders.organisation.keywords"), class: "tags"

    .description
      = f.label :description
      %br
      = f.text_area :description, class: "rte", placeholder: t("placeholders.organisation.description")
 
    %p.admin
      = f.label :organisation_type_id
      = f.select :organisation_type_id, Droom::OrganisationType.for_selection, :class => 'preferences'

    .buttons
      = f.submit t(:save_organisation)
      = t :or
      = link_to t(:cancel), '#', :class => 'cancel'
