- organisation ||= @organisation
- title = t(:subsume_organisation)

#edit_organisation
  = render 'droom/shared/popup_header', title: title

  = form_for [droom, organisation], url: merge_organisation_url(organisation), :html => {:class => 'edit organisation'} do |f|

    %p
      You are about to transfer all the users, assets and history of
      %strong
        = organisation.name
      into the organisation you choose below. Please be careful: the
      = organisation.name
      organisation will vanish completely and its users will have a new affiliation.

    %p.organisation
      = f.label :other_id
      = f.select :other_id, Droom::Organisation.for_selection_with_owner(true)

    .buttons
      = f.submit t(:subsume_organisation)
      = t :or
      = link_to t(:cancel), '#', :class => 'cancel'
