%p
  %input#new_person{name: "how", type: "radio", value: "new", checked: true, data: {action: 'reveal', affected: '#new_user', converse: '#choose_user'}}
  %label{for: "new_person"}
    Invite a new person
  %input#existing_person{name: "how", type: "radio", value: "existing", data: {action: 'reveal', affected: '#choose_user', converse: '#new_user'}}
  %label{for: "existing_person"}
    Choose someone already here

#new_user
  - user = Droom::User.new
  = form_for [@group, @membership], :html => {:class => 'edit user'} do |f|
    = f.fields_for :user, user do |uf|
      = render partial: "droom/users/edit/user_fields", locals: {f: uf, user: user, timezone_id: "membership_timezone"}
      %p.admin
        = uf.check_box :defer_confirmation
        = uf.label :defer_confirmation
    .buttons
      = f.submit t(:invite_to_group)
      = t :or
      = link_to t(:cancel), '#', :class => 'cancel'

#choose_user
  %p{style: "margin: 20px"}
    The person-picker will be here shortly.
    You can also add people to groups on the
    = link_to('user admin page', admin_users_url) + '.'
