- group ||= @group
- user ||= @user
- membership ||= user.membership_of(group)

- linkid = "#{user.id}_#{group.name.parameterize}"

- if membership
  = link_to "&nbsp;", group_membership_url(group, membership), :id => linkid, :class => "yes", :method => :delete, :data => {:action => "replace", :replaced => "##{linkid}"}
- else
  = link_to "&nbsp;", group_memberships_url(group, :membership => {:user_id => user.id}), :id => linkid, :class => "no", :method => :post, :data => {:action => "replace", :replaced => "##{linkid}"}
