- cssclass = 'contacts'
- cssclass << ' editable' if can?(:edit, @user)

%section{class: cssclass, data: {refreshable: true, url: droom.user_url(@user, view: 'contact', format: :js)}}
  - if @user && can?(:edit, @user)
    %span.user_controls
      = link_to t(:edit_user_profile_symbol), droom.edit_user_url(@user, view: 'contact'), class: "edit", data: {action: 'popup', affected: "section.contacts, section.user"}

  %h2.section
    = t :user_profile_contact

  - if @user
    %ul.address_book
      = render partial: "droom/emails/email", collection: @user.emails.by_preference
      = render partial: "droom/phones/phone", collection: @user.phones.by_preference
      = render partial: "droom/addresses/address", collection: @user.addresses.by_preference
