- listed ||= nil
- user ||= listed || @user
- membership ||= false
- event ||= false
- group ||= false
- liclass = "person"
- liclass << " unconfirmed" unless user.confirmed?
- ineditable ||= false

- if membership
  - group = membership.group

%li.user.listed.row{id: "user_#{user.id}", class: liclass, data: {refreshing: true, url: droom.user_path(user, view: 'listed')} }
  %span.user
    %h2.name
      - if user.image?
        %span.mugshot{style: "background-image: url(#{user.image.url(:thumb)})"}
      - else
        %span.mugshot
          %svg
            %use{"xlink:href" => "#user_symbol"}
      = link_to user.colloquial_name, droom.user_url(user), data: {action: "popup"}
      - if user.organisation
        %br
        = link_to user.organisation.name, droom.organisation_url(user.organisation)
    - if Droom.use_biogs? && user.description?
      .description
        = sanitize(user.description.html_safe)
    = render "droom/users/show/contacts", user: user
