- listed ||= nil
- user ||= listed || @user
- invitation ||= @invitation
- membership ||= false
- event ||= false
- group ||= false
- liclass = "person"
- liclass << " unconfirmed" unless user.confirmed?
- ineditable ||= false

- if user.image?
  - mugstyle = "background-image: url(#{user.image.url(:thumb)})"
- else
  - mugstyle = ""

- if invitation
  - liclass << " #{invitation.status}"
  - event = invitation.event
- if membership
  - group = membership.group

%li{id: "user_#{user.id}", class: liclass, data: {refreshable: true, url: droom.user_path(user, view: 'listed', invitation_id: invitation ? invitation.id : nil)} }
  - if user.confirmed?
    %span.mugshot{style: mugstyle}
      - if invitation
        - if can? :edit, invitation
          = link_to invitation.status, toggle_event_invitation_url(event, invitation), class: "invitation #{invitation.status}", data: {action: "affect", method: "put", affected: "#user_#{user.id}"}
        - else
          %span{class: "invitation #{invitation.status}"}
  - else
    %span.mugshot
      %svg
        %use{"xlink:href" => "#unknown_symbol"}

  %span.contact
    %span.name
      = link_to truncate(user.colloquial_name, length: 32), user_url(user), data: {action: "popup"}
      = action_menulink(user)
    %br
    = mail_to user.email, user.email, class: "email"
    - if !user.confirmed? && can?(:reinvite, user)
      %br
      = link_to droom.reinvite_user_url(user), class: 'reinvite', method: 'put', data: {action: "reinvite", confirmation: "reinvited"} do
        %svg.prefix
          %use{"xlink:href" => "#email_symbol"}
        %span
          reinvite

    = action_menu(user, event: event, group: group)


// #todo: reinvite button if permitteds