- user ||= @user
- if user.image?
  - mugstyle =  "background-image: url(#{user.image.url('thumb')})"
- else
  - mugstyle =  ""

#user
  .header{data: {draggable: ".popup", remembered: "user"}}
    = link_to "X", '#', :class => "closer", :data => {:action => "close"}
    %h2.titlebar
      = t :profile

  .user
    .mugshot.full{style: mugstyle}
    .detail
      %h3
        = user.colloquial_name

      %p.contact
        - if user.organisation
          %strong
            = user.organisation.name

      - if Droom.use_biogs? && user.description?
        .description
          = sanitize(user.description.html_safe)

      = render "droom/users/show/contacts", user: user
