- user ||= @user
- if user.image?
  - mugstyle =  "background-image: url(#{user.image.url('thumb')})"
- else
  - mugstyle =  ""

#user
  = render 'droom/shared/popup_header', title: t(:profile)

  .user
    .mugshot.full{style: mugstyle}
    .detail
      %h3
        = user.colloquial_name
        - if can? :manage, user
          = link_to droom.edit_user_url(user), :class => 'addendum edit', :data => {:action => "popup", :affected => "#user_#{user.id}"} do
            %svg
              %use{href: "#edit_button"}
      %p.contact
        - if user.organisation
          %strong
            = user.organisation.name

      - if Droom.use_biogs? && user.description?
        .description
          = sanitize(user.description.html_safe)

      = render "droom/users/show/contacts", user: user
