- tabled ||= nil
- user ||= tabled || @user
- rowid = "user_#{user.id}"
- cssclass = "user"
- cssclass << " unconfirmed" unless user.confirmed?

%tr{:id => rowid, :class => cssclass, data: {refreshable: true, url: user_url(user, view: 'tabled', format: :js)}}
  %td.name
    %span.contact
      %span.name
        = link_to user.informal_name, user_url(user.id), target: '_blank'
        = action_menulink(user)
        = action_menu(user)

  %td.email
    = mail_to user.email

  %td.email
    - if user.confirmed? && user.last_sign_in_at?
      = l user.last_sign_in_at, format: :natural_with_year
    - else
      = link_to reinvite_user_url(user), remote: true, method: "PUT", class: "reinvite", data: {action: "reinvite", confirmation: "✔︎ reinvited"} do
        %span.label
          reinvite
    

  - group_name = ''
  - groups = Droom::Group.all
  - groups.each_with_index do |group, i|
    - group ||= @group
    - user ||= @user
    - membership ||= user.membership_of(group)

    - if membership
      - if group_name == ''
        - group_name = group.name
      - else
        - group_name = group_name + ', ' + group.name

  %td.email
    = group_name

  %td.toggle{:data => {:hoverable => true}}
    - if user.admin?
      = link_to "&nbsp;", user_url(user, :user => { :admin => false }, :format => :js), :class => "yes", :method => :put, :remote => true, :data => {:action => "affect", :affected => "##{rowid}" }
    - else
      = link_to "&nbsp;", user_url(user, :user => { :admin => true }, :format => :js), :class => "no", :method => :put, :remote => true, :data => {:action => "affect", :affected => "##{rowid}" }

