= form_for @page, :html => {:class => 'edit page'} do |f|
  %p
    = f.text_field :title, :placeholder => t(:page_title), :class => 'pagetitle'

  %p
    = f.text_field :slug, :placeholder => t(:page_slug), :class => 'slug'
    %br
    %span.formnote
      = t :page_slug_explanation

  %p
    = f.text_area :summary, :placeholder => t(:page_summary), :class => 'small'
    %br
    %span.formnote
      = t :page_summary_explanation

  %p
    = f.text_area :body, :placeholder => t(:page_body), :class => 'large'

  %p
    = f.text_field :video_id, :placeholder => t(:page_video_id), :class => 'youtube'
    %br
    %span.formnote
      = t :page_youtube_explanation

  .controls
    .save.button
      = f.submit t(:save), :class => "submit"
      / = link_to t(:save), '#', :class => 'submit'
    .cancel.button
      - if @page.new_record?
        = link_to t(:cancel), pages_url
      - else
        = link_to t(:cancel), droom.help_page_url(@page.slug)
  
