- page ||= @page

#help_page.holder
  %h1.pagetitle
    = page.title
    - if admin?
      %span.admin<
        = link_to t(:edit_page), edit_page_url(page), :class => 'edit minimal', :remote => true, :data => {:action => "popup", :type => "html"}
        = link_to t(:remove), page_url(page), :method => 'delete', :class => 'delete minimal', :remote => 'true', :data => {:confirm => t(:confirm_delete_page, :title => page.title), :affected => ".contents"}

  - if page.video_id?
    .video
      %iframe{:width => 640, :height => 480, :src => "http://www.youtube-nocookie.com/embed/#{page.video_id}?rel=0", :frameborder => 0, :allowfullscreen => true}

  - if page.body?
    .body
      = page.rendered_body.html_safe
