- content_for :pagetitle do 
  = t "pages.edit"

- content_for :title do 
  %a.breadhead{href: droom.pages_url}
    = t("pages.index")
  = t "pages.edit"

- @view ||= 'simple'
= render partial: "droom/organisations/edit/#{@view}"
