- content_for :title do 
  = t "pages.show"

%p
  = t :preview_page_intro

#page_form
  %aside#instructions
    = form_for @page, url: droom.publish_page_url(@page), method: "put", html: {id: "page_form"} do |f|
      %span.left
        %a{href: droom.pages_url}
          â† pages
  
      %a.button.edit{href: droom.edit_page_url(@page)}
        edit

      = f.submit "publish", class: "publish"

  %section#preview
    #page_preview
      = render "droom/pages/bighead", page: @page

      #page_content
        .content
          = @page.render(:content).html_safe
