#account
  %h1.pagetitle
    =t :choose_new_password

  = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :class => "password" }) do |f|
    = devise_error_messages!
    = f.hidden_field :reset_password_token
    
    = render "droom/users/password_fields", :f => f

    %p.notice
<<<<<<< HEAD
      = t :password_notice
        
=======

>>>>>>> rails4
    .controls
      .save.button
        %p
          = f.submit t(:set_password), :class => "submit"






