- if current_user.dropbox_access_token
  %h4
    = t :dropbox_preferences
  %form
    %p
      = radio_button_tag :dropbox_level, "all"
      = t :dropbox_copy_all
      %br
      = radio_button_tag :dropbox_level, "topics"
      = t :dropbox_copy_topics
      %br
      = radio_button_tag :dropbox_level, "events", true
      = t :dropbox_copy_events
      %br
      = radio_button_tag :dropbox_level, "selected"
      = t :dropbox_copy_selected
    %p
      = link_to "revoke dropbox access", '#', :class => "dropbox revoke"
    

- else
  %p
    = t :dropbox_instructions
  %p
    = link_to "Connect to your dropbox", dropbox_auth_url, :class => "dropbox"