- if current_user
  %nav<
    = nav_link_to t(:your_page), "/"
    = nav_link_to t(:calendar), "/calendar"
    = nav_link_to t(:library), "/library"
    = nav_link_to t(:directory), "/directory"
    = nav_link_to t(:map), "/map"
