- if current_user && current_user.confirmed?
  %nav<
    = nav_link_to t(:your_page), droom.dashboard_path
    = nav_link_to t(:calendar), droom.events_path
    = nav_link_to t(:library), droom.documents_path
    = nav_link_to t(:directory), droom.groups_path
    - if Droom.show_venue_map
      = nav_link_to t(:map), droom.venues_path
