- if current_user
  %nav<
    = nav_link_to t(:your_page), droom.dashboard_path
    = nav_link_to t(:calendar), droom.calendar_path
    = nav_link_to t(:library), droom.library_path
    = nav_link_to t(:directory), droom.directory_path
    = nav_link_to t(:map), droom.map_path
