- fields ||= nil
- fields_counter ||= nil
- address ||= fields || @address
- user = @user || current_user

= fields_for user do |uf|
  = uf.fields_for :addresses, address, :child_index => fields_counter || 'field_counter' do |f|

    %fieldset.repeating
      %p.twocol.addendum
        %span.col>
          = f.text_area :address, :placeholder => t("placeholders.address.address")
        %span.col.last>
          = f.select :address_type_id, Droom::AddressType.for_selection(:address)

      .controls
        = link_to t(:remove), '#', :class => "remove minimal", :data => {:action => "remove_fields", :holder => "fieldset"}
        - if address.persisted?
          = f.hidden_field :_destroy, data: {role: "destroy"}
