= form_for @scrap, :html => {:class => 'edit scrap'} do |f|
  .header
    = link_to "X", '#', :class => "closer", :data => {:action => "close"}
    %ul.scraptypes
      - Droom.scrap_types.each do |type|
        - cssclass = @scrap.scraptype == type ? "#{type} here" : type
        %li{:data => {:action => 'tab', :selector => ".#{type}"}}
          = f.radio_button :scraptype, type
          = f.label :"scraptype_#{type}", type, :class => cssclass

  %div{:class => "fields #{@scrap.scraptype}"}
    .upload
      - @scrap.build_image_upload unless @scrap.image_upload
      = f.fields_for :image_upload do |iuf|
        .uploadbox{:data => {:action => "upload", :url => cropper.uploads_path(:format => :js, :for => "scrap"), :scale => 2}}
          = iuf.file_field :file, :class => 'file_upload', :accept => "image"
          .img
            - if @scrap.image?
              .existing
                = link_to image_tag(@scrap.image.url(:cropped)), cropper.edit_upload_url(@scrap.image_upload, :for => "scrap", :offset_t => @scrap.image_offset_top, :offset_l => @scrap.image_offset_left, :scale_w => @scrap.image_scale_width, :scale_h => @scrap.image_scale_height), :data => {:action => "recrop"}, :title => "Click to adjust crop"
                = link_to t(:detach_upload), '#', :class => 'detach'
            .prompt
              = link_to t(:click_to_upload), cropper.new_upload_url, :class => 'picker'
              .droppable
                .note
                  = t :drop_to_upload

    .body
      %p
        = f.text_area :body, :placeholder => "Body text", :class => 'body', :data => {:action => "fit"}

    .scrapevent
      - event = @scrap.event ||= @scrap.build_event(:start => Time.now.floor(30.minutes))
      = f.fields_for :event, event do |ef|
        = ef.hidden_field :calendar_id, :value => Droom::Calendar.find_or_create_by_name("stream").id
        .datemark.datepicker
          %a{:href => "#"}
            %span.mon= event.start.strftime('%b')
            %span.dom= event.start.strftime('%d')
            %span.year= event.start.strftime('%Y')
          = ef.hidden_field :start_date
          .kal

        .summary
          %p.name
            = ef.text_field :name, :class => 'name', :placeholder => t(:event_name)
          %p.practicalities
            = ef.text_field :start_time, :class => "timepicker start", :value => (I18n.l(event.start_time, :format => :precise) if event.start_time), :placeholder => t(:event_time)
            = t :to
            = ef.text_field :finish_time, :class => "timepicker finish", :value => (I18n.l(event.finish_time, :format => :precise) if event.finish_time), :placeholder => t(:finish_time)
            = t :at
            = ef.text_field :venue_name, :class => "venuepicker", :placeholder => t(:venue_name), :autocomplete => "off"
        %p.url
          = ef.text_field :url, :class => 'url', :placeholder => t(:event_url)

    .caption
      %p
        = f.text_area :note, :placeholder => "Caption", :class => 'note'

  .buttons
    = f.submit t(:save)
    = t :or
    = link_to t(:cancel), "/", :class => 'cancel'
