.notice{id: "notice_#{notice.id}", class: notice.scraptype, data: {span: notice.size}}
  = render "droom/scraps/notices/#{notice.scraptype}", notice: notice

  - if notice.note?
    %figcaption
      = simple_format notice.note

  .footnote
    %p
      - if notice.created_by
        = t :posted_by
        = notice.created_by.informal_name
        %br
      - else
        = t :posted
      = time_ago_in_words notice.created_at
      = t :ago
  
  - if can? :edit, notice
    .controls
      = link_to t(:edit_symbol), edit_scrap_url(notice), class: "edit", data: {action: "popup", affected: "#notice_#{notice.id}"}
      = link_to t(:delete_symbol), scrap_url(notice), class: "delete", method: "delete", data: {action: "remove", removed: "#notice_#{notice.id}", confirm: "Delete this notice?"}