- scrap ||= thumb
- url = droom.noticeboard_url + "#scrap_#{scrap.id}"

- if Droom.scrap_types.include? scrap.scraptype
  %div{:class => "scrap #{scrap.scraptype}", :id => "scrap_#{scrap.id}"}

    - if scrap.scraptype == 'document' && scrap.document
      = link_to "document:", url, :data => {:scrap => scrap.id}, :class => "#{scrap.document.file_extension} icon"

    - elsif scrap.scraptype == 'event' && scrap.event
      .datemark
        %span.mon= scrap.event.start.strftime('%b')
        %span.dom= scrap.event.start.strftime('%d')
        - if scrap.event.start.year != Date.today.year
          %span.year= scrap.event.start.strftime('%Y')

    - elsif scrap.scraptype == 'image' && scrap.image?
      = link_to "image:", url, :class => "thumb", :style =>"background-image: url('#{scrap.image.url(:icon)}')", :data => {:scrap => scrap.id}

    - elsif scrap.scraptype == 'link' && scrap.url?
      = link_to "link:", scrap.url_with_protocol, :class => "icon link", :data => {:scrap => scrap.id}
      
    - elsif scrap.scraptype == 'quote' && scrap.url?
      = link_to "quote:", url, :class => "icon quote", :data => {:scrap => scrap.id}
      
    - else
      = link_to "text:", url, :class => "icon text", :data => {:scrap => scrap.id}

    %p.sample
      = link_to scrap.name, url, :data => {:scrap => scrap.id}
      = action_menulink(scrap, :class => "small")
      %span.caption
        = shorten(scrap.note, 160)
      = render :partial => "droom/scraps/credit", :locals => {:scrap => scrap}
    = action_menu(scrap)

