.content
  - if event = notice.event
    .datemark
      %span.mon= event.start.strftime('%b')
      %span.dom= event.start.strftime('%d')
      - if event.start.year != Date.today.year
        %span.year= event.start.strftime('%Y')

    %h2
      - if notice.event.url
        = link_to notice.event.name, notice.event.url_with_protocol, :class => "eventname"
      - else
        = notice.event.name

  = render "droom/scraps/notices/body", notice: notice, caption_limit: 300