- video ||= @video

= video.embed_html5(:width => 265, :height => 200, :class => "thumb").html_safe

%p
  %strong
    = video.title
  %br
    = shorten(video.description, 120)
  %span.credit
    = t :by
    = video.author.name
