- listed ||= nil
- page ||= listed  || @page
- cssclass = "page"
- if page.public? ? " public" : " private"
  - cssclass << " public"
- else
  - cssclass << " private"
- if page.published?
  - cssclass << " published"

- bg = page.main_image ? page.main_image.url : ""

%div{class: cssclass, id: "page_#{page.id}", data: {refreshing: true, url: droom.page_path(page, view: "listed")} }
  = link_to droom.page_url(page) do
    .head{style: "background-image: url(#{bg})"}
      .darken
      %h3.name
        = page.title.html_safe
    .body
      = shorten(strip_tags(page.content), :length => 200)
