- page ||= @page

- if page.published_image
  - image_url = page.published_image.url(:hero)
  #page_masthead
    .bg{style: "background-image: url('#{image_url}'); background-position: #{page.published_image_weighting}"}
    .darken
    .fg
      #page_title
        %h1.title
          = page.render(:title).html_safe
        - if page.published_subtitle?
          %p.subtitle
            = page.render(:published_subtitle).html_safe
- else
  #page_title
    %h1.title
      = page.title

- if story.published_intro?
  #page_intro
    = story.render(:published_intro).html_safe

#page_content
  .content
    = page.render(:content).html_safe
