#admin.panel
  - if admin?
    %a.close
      %svg
        %use{"xlink:href" => "#big_x_symbol"}

    %h4
      = t :admin
    %ul
      %li
        = link_to t(:add_event), droom.new_event_url, :class => "add", :remote => true, :data => {:action => "popup", :type => "html", :affected => "#events, .minimonth"}
      %li
        = link_to t(:add_document), droom.new_document_url, :class => "add", :remote => true, :data => {:action => "popup", :affected => "table.documents"}
      %li
        = link_to t(:add_person), droom.new_user_url, :class => "add", :remote => true, :data => {:action => "popup", :type => "html", :affected => "table.people"}
      %li
        = link_to t(:add_organisation), droom.new_organisation_url, :class => "add", :remote => true, :data => {:action => "popup", :affected => ".organisations_list"}

    %ul
      %li
        = link_to t(:manage_venues), droom.venues_url, :class => "edit notyet"
      %li
        = link_to t(:manage_folders), droom.folders_url, :class => "edit notyet"
      %li
        = link_to t(:manage_users), droom.users_url, :class => "edit notyet"
      %li
        = link_to t(:manage_groups), droom.groups_url, :class => "edit"
      %li
        = link_to t(:manage_pages), droom.pages_url, :class => "edit"
