.panel{:data => {:panel => 'configuration'}}
  %a.close
    %svg
      %use{"xlink:href" => "#big_x_symbol"}

  %p.account_controls
    = t(:signed_in_as, :name => current_user.name).html_safe

  %p
    = link_to t(:edit_your_profile), droom.edit_user_url(current_user, view: 'profile'), :data => {:action => "popup", :affected => ".people_list"}
    %br
    %span.note
      = t(:edit_your_profile_note, url: droom.user_url(current_user, view: 'profile')).html_safe
  %p
    = link_to t(:edit_your_preferences), droom.edit_user_url(current_user, view: 'preferences'), :data => {:action => "popup", :affected => ".people_list"}
    %br
    %span.note
      = t(:edit_your_preferences_note)

  - if current_user.organisation && can?(:edit, current_user.organisation)
    %p
      = link_to t(:edit_your_organisation), droom.edit_organisation_url(current_user.organisation, view: 'quick'), :data => {:action => "popup"}
      %br
      %span.note
        = t(:edit_your_organisation_note)

  %p
    = link_to droom.destroy_user_session_url, :method => :delete, :class => 'signout' do
      %svg.prefix
        %use{"xlink:href" => "#cross_button_symbol"}
      %span.label
        = t(:sign_out)
    