#dropbox.panel
  .content
    - if current_user.dropbox_access_token
      %h4
        = t :dropbox_preferences
        
      = form_for current_user, :html => {:remote => true, :class => "fancy"} do |f|
        = f.fields_for :preferences, current_user.preference('dropbox.strategy') do |pf|
          = pf.hidden_field :key
          %p
            %span.preference
              = pf.radio_button :value, "everything"
              = pf.label :value_everything, "Sync everything"
            %span.preference
              = pf.radio_button :value, "selected", :data => {:reveals => ".subpreference"}
              = pf.label :value_selected, "Sync these folders..."
              %span.subpreference
                = f.fields_for :preferences, current_user.preference('dropbox.events?') do |ef|
                  = ef.check_box :value
                  = ef.label :value, "Your events"
              %span.subpreference
                = f.fields_for :preferences, current_user.preference('dropbox.topics?') do |ef|
                  = ef.check_box :value
                  = ef.label :value, "Your topics"
            %span.preference
              = pf.radio_button :value, "clicked"
              = pf.label :value_clicked, "Only when you click"

            