#dropbox.panel
  - if dropbox?
    %h4
      = t :dropbox_preferences
      
    = form_for [droom, current_user], :format => :js, :html => {:remote => true, :class => "preferences"} do |f|
      = preference_radio_set 'dropbox.strategy', 'everything', 'relevant', 'clicked'
    %p
      = button_to "revoke dropbox access", droom.dropbox_token_url(current_user.dropbox_token), :method => 'delete', :class => "dropbox revoke"

    %p.confirmation
      

  - else
    %p
      We can copy document folders to your dropbox either automatically or in response to your selections. 
      They will be placed within a new 'hkfx' folder.
      To begin, please click the link below and log into your dropbox.
    %p
      = link_to "Connect to your dropbox", dropbox_auth_url, :class => "dropbox"
      
      