#readers.panel
  %h4
    = t :dav_preferences

  %p
    If you use a document reader like GoodReader but you don't have a dropbox, you can sync it with
    a WebDAV folder on this server: 

  = form_for [droom, current_user], :format => :js, :html => {:remote => true, :class => "preferences"} do |f|
    %span.preference
      = preference_checkbox 'dav.enabled?'
      %span.subpreference
        = preference_radio_set 'dav.strategy', 'everything', 'relevant', 'clicked'
  %p.note
    = link_to "How to use your WebDAV folder", "#", :class => "help"
          
  %p.confirmation
    
