#account
  %h1.pagetitle
    =t :forgot_password

  = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|

    %p
      = t :password_reset_instructions

    %p
      = f.email_field :email, class: 'login', autofocus: true, placeholder: t('placeholders.session.email')
      %span.note
        = t :email_note

    .controls
      .save.button
        %p
          = f.submit t(:send_reset_instructions), :class => "submit"

