- fields ||= nil
- fields_counter ||= nil
- email ||= fields || @email
- user = @user || current_user

= fields_for user do |uf|
  = uf.fields_for :emails, email, :child_index => fields_counter || 'field_counter' do |f|

    %fieldset.repeating
      %p.twocol.reversed
        %span.col>
          = f.email_field :email, :placeholder => t("placeholders.email.email"), required: true
        %span.col.last>
          = f.select :address_type_id, Droom::AddressType.for_selection(:email)

      .controls
        = link_to t(:remove), '#', :class => "remove minimal", :data => {:action => "remove_fields", :holder => "fieldset"}
        - if email.persisted?
          = f.hidden_field :_destroy, data: {role: "destroy"}
