- if flash[:notice]
  %p.standfirst.green
    = flash[:notice]

= form_for(resource, as: resource_name, url: session_path(resource_name), html: {id: "login"}) do |f|
  - if params[:backto].present?
    = hidden_field_tag :backto, CGI.escape(params[:backto])

  %p
    = f.email_field :email, class: 'login', autofocus: true, placeholder: t('placeholders.session.email')

  %p
    = f.password_field :password, class: 'login', placeholder: t('placeholders.session.password')
    = link_to t(:forgot_password), new_password_path(resource_name), class: "reminder note right"

  .controls
    .save.button
      %p
        = f.submit t(:sign_in), :class => "submit"
