- welcome_page = Droom::Page.find_by(slug: "_welcome")
- sidebar_page = Droom::Page.find_by(slug: "_sidebar")

- content_for(:pagetitle) do
  =t :please_sign_in

- if welcome_page && welcome_page.content?
  - content_for(:pagetitle) do
    = welcome_page.title


  .welcome
    = render "droom/pages/bighead", page: welcome_page
    #content
      %aside#margin
        = render partial: 'devise/sessions/login_form'
        - if sidebar_page && sidebar_page.content?
          = clean_html sidebar_page.content

      %article#body.narrow
        .welcome
          = clean_html welcome_page.content


- else
  - content_for(:pagetitle) do
    =t :please_sign_in

  #account
    %h1.pagetitle
      =t :please_sign_in

    = render partial: 'devise/sessions/login_form'