= form_for @group, :html => {:class => 'edit group', :remote => true, :data => {:type => :html}} do |f|
  %table.main.groups
    %tr.group
      %th.name
        = f.text_field :name, :class => 'name', :placeholder => t(:group_name)
      %td.description
        = f.text_field :description, :class => 'name', :placeholder => t(:group_description)
      %td.count
      %td.buttons
        = f.submit t(:save)
        = t :or
        = link_to t(:cancel), "/", :class => 'cancel'
