- group ||= @group
%tr.group.holder{:id => "group_#{group.id}"}
  %th.name= link_to group.name, group
  %td.description= group.description
  %td.count= group.people.count
  %td.buttons
    - if admin?
      = link_to t(:edit_group), edit_group_url(group), :class => 'admin edit minimal', :remote => true, :data => {:action => "overlay_form", :type => "html"}
    - if current_user.admin?
      = link_to t(:remove), group_url(group), :method => 'delete', :class => 'admin delete minimal', :remote => 'true', :data => {:confirm => t(:confirm_delete_group, :name => group.name)}
