.groups{:data => {:refreshable => true, :url => "#{groups_path}.js"}}

  - @groups.each do |group|

    %h2.section
      = link_to group.name, group_url(group, :format => :js), :class => "name", :data => {:remote => true, :autoload => true, :action => 'replace', :affected => "#group_#{group.id}"}
      = action_menulink(group)
    = action_menu(group)

    = render :partial => 'group', :object => group
