- group ||= @group
- users = @users || Droom::User.in_group(group).page(1)

%div.group{:id => "group_#{group.id}", :data => {:refreshable => true, :url => group_path(group, :format => :js)} }
  %h2
    = group.name
    = action_menulink(group)
  = action_menu(group)

  .scroller
    = render partial: "droom/groups/users", locals: {group: group, users: users}
