- group ||= @group
- users = @users || group.users
- confers_login = group.permission_slugs.include?("droom.login")
- confers_admin = group.permission_slugs.include?("droom.admibn")

%div.group{:id => "group_#{group.id}", :data => {:refreshing => true, :url => group_path(group, :format => :js)} }
  %h2
    = group.name
    = action_menulink(group)
    - if confers_login
      %sub.addendum.login
        %svg.icon
          %use{href: "#tick_button_symbol"}
        %span.label
          = t(:allows_login)
    - if confers_admin
      %sub.addendum.admin
        %svg.icon
          %use{href: "#tick_button_symbol"}
        %span.label
          = t(:allows_admin)


  = action_menu(group)

  - if group.description?
    %p.intro
      = strip_tags(group.description)
      
  .scroller.group
    = render partial: "droom/groups/users", locals: {group: group, users: users}
