- group ||= search_result
.group
  = link_to "group:", group_url(group), :class => "icon"
  = link_to group.name, group_url(group)
  %span.note
    = t :group_members, :count => group.people.count
  .excerpt
    - if hit = group.hit
      = render :partial => "droom/shared/excerpt", :locals => { :hit => hit }
    - else
      = truncate group.description, :length => 130
