- content_for :title do
  = t :group_admin
  - if can?(:create, Droom::Group)
    = link_to droom.new_group_url, class: "addendum add", data: {action: "popup", affected: "div.groups"} do
      %svg.icon
        %use{href: "#plus_button_symbol"}
      %span.label
        = t(:add_group)
  - if can?(:create, Droom::User)
    = link_to droom.new_user_url, class: "addendum add", data: {action: "popup", affected: "div.groups"} do 
      %svg.icon
        %use{href: "#plus_button_symbol"}
      %span.label
        = t(:add_user)

- content_for :standfirst do
  %p
    = t :directory_introduction

#groups
  = render partial: 'groups'
