- content_for :title do
  = t :group_admin

- content_for :standfirst do
  %p
    = t :directory_introduction

- content_for :margin do
  %p.action
    - if can?(:create, Droom::Group)
      = link_to t(:add_group), droom.new_group_url, :class => "add", :remote => true, :data => {:action => "popup", :type => "html", :affected => "div.groups"}
    - if can?(:create, Droom::User)
      = link_to t(:add_user), droom.new_user_url, :class => "add", :remote => true, :data => {:action => "popup", :type => "html", :affected => "div.groups"}

  #finder
    %form.filter{:action => droom.users_url(:format => :js), :autocomplete => 'off', :data => {:action => "filter"}}
      %p
        = search_field_tag :q, params[:q], :results => 5, :autosave => 'people_filter'

    .scroller
      #found
        %p.note
          Type a fragment of name, email or phone number here to see everyone that matches.
  

#groups
  = render :partial => 'groups'
