= form_for [droom, @event, @agenda_category], :html => {:class => 'edit agenda_category'} do |f|
  %p.category
    %span#existing_category{:data => {:action => "alternate", :selector => "#new_category"}}
      = f.select :category_id, Droom::Category.for_selection
      %br
      %span.action
        = link_to t(:add_category), '#', :class => "add"

    %span#new_category
      - @category = Droom::Category.new
      = f.fields_for :category, @category do |ncf|
        = ncf.text_field :name
        %br
        %span.action
          = link_to t(:existing_category), '#', :class => "revert"

  %p.stretcher
    
  .buttons
    = f.submit t(:save_agenda_category)
    = t :or
    = link_to t(:cancel), '#', :class => 'cancel'
