= content_for :head do
  = javascript_include_tag "http://maps.google.com/maps/api/js?sensor=false"
#venues
  %h1
    = @venue.name
    
  %p
    = @venue.address.to_html
    
#events
  %h2.quiet
    = t(:future_events)
  
  = render :partial => "droom/events/events"
    
#marginalia
  - cssclass = admin? ? "small editable" : "small"
  #map{:"data-url" => venue_url(@venue), :class => cssclass}
  %p
    = @venue.address
  