= form_for @person, :html => {:class => 'edit person'} do |f|
  .primary
    - if Droom.use_forenames
      %p
        = f.label :forename
        %br
        = f.text_field :forename, :required => true
    
    %p
      = f.label :name
      %br
      = f.text_field :name, :required => true

    %p
      = f.label :email
      %br
      = f.text_field :email, :required => true

    - if @person.new_record?
      %p
        = f.check_box :invite_on_creation, :class => 'invite'
        = f.label :invite_on_creation      
        = f.check_box :admin_user
        = f.label :admin_user
      
  .secondary
    %p
      = f.label :title, :class => "optional"
      %br
      = f.text_field :title

    %p
      = f.label :phone, :class => "optional"
      %br
      = f.text_field :phone


  .buttons
    = f.submit t(:save_person)
    = t :or
    = link_to t(:cancel), '#', :class => 'cancel'
  