= form_for @person, :html => {:class => 'edit person'} do |f|
  .image
    .upload
      - @person.build_image_upload unless @person.image_upload
      = render :partial => "cropper/uploads/crop", :locals => {:upload => @person.image_upload}

  - if Droom.use_forenames?
    %p.name
      = f.label :forename
      %br
      = f.text_field :forename, :required => true
    %p.name
      = f.label :name, "Surname"
      %br
      = f.text_field :name, :required => true

  - else
    %p.name
      = f.label :name
      %br
      = f.text_field :name, :required => true

  .contacts
    %p.email
      = f.label :email
      %br
      = f.text_field :email, :required => true
    
    %p.phone
      = f.label :phone, :class => "optional"
      %br
      = f.text_field :phone

    - if Droom.use_separate_mobile_number
      %p.secondary
        = f.label :mobile, :class => "optional"
        %br
        = f.text_field :mobile

  - if admin?
    - if Droom.use_organisations?
      %p.organisation
        = f.label :organisation_id
        %br
        = f.select :organisation_id, Droom::Organisation.for_selection, :class => 'preferences'

    - if @person.new_record?
      %p.admin
        = f.check_box :invite_on_creation, :class => 'invite'
        = f.label :invite_on_creation      
        = f.check_box :admin_user
        = f.label :admin_user

  - if Droom.use_biogs?
    - @person.description = "<p></p>" unless @person.description?
    .description.wysihtml
      .toolbar#t1
        = render 'droom/shared/toolbar'
      = f.text_area :description

  .buttons
    - if current_user.is_person?(@person)
      = f.submit t(:save_your_profile)
    - else
      = f.submit t(:save_person)
    = t :or
    = link_to t(:cancel), '#', :class => 'cancel'
