= form_for @person, :html => {:class => 'edit person'} do |f|
  - if Droom.use_forenames
    .columns
      .column
        %p
          = f.label :forename
          %br
          = f.text_field :forename, :required => true
      .column
        %p
          = f.label :name
          %br
          = f.text_field :name, :required => true

  - else
    %p.name
      = f.label :name
      %br
      = f.text_field :name, :required => true

  %p.email
    = f.label :email
    %br
    = f.text_field :email, :required => true
    
  %p.phone
    = f.label :phone, :class => "optional"
    %br
    = f.text_field :phone

  - if Droom.use_separate_mobile_number
    %p.secondary
      = f.label :mobile, :class => "optional"
      %br
      = f.text_field :mobile

  - if @person.new_record?
    %p.admin
      = f.check_box :invite_on_creation, :class => 'invite'
      = f.label :invite_on_creation      
      = f.check_box :admin_user
      = f.label :admin_user
    
  .buttons
    = f.submit t(:save_person)
    = t :or
    = link_to t(:cancel), '#', :class => 'cancel'
  