%table.main.people{:data => {:refreshable => true, :url => "#{people_path}.js"}}
  %thead
    %tr
      %th
      %th
      %th
      %th
      - if current_user.admin?
        - @groups.each do |group|
          %th.group.admin
            .rotate
              = truncate(group.name, :length => 12)
        %th.admin
          .rotate
            = t :edit
        %th.admin
          .rotate
            = t :delete

  %tbody.drag_sort
    - @people.each do |p|
      = render :partial => 'person', :object => p
