- person ||= @person
%tr.person.holder{:id => "person_#{person.id}"}
  %td.icon
    %span.placeholder
    
  %th.name
    = person.formal_name
      
  %td.email
    %p
      = mail_to person.email
  %td.phone
    - if person.phone
      %p
        = person.phone
    - else
      %p.unavailable
        no phone
  / %td.address
  /   - if person.address?
  /     %p
  /       = person.address
  /   - else
  /     %p.unavailable
  /       no address
  - if admin?
    - @groups.each do |group|
      %td.group
        = render :partial => 'droom/memberships/button', :locals => {:group => group, :person => person}
  %td.buttons
    - unless admin?
      %a{:href => person_url(person, :format => :vcf), :class => 'vcard'}
    - if admin?
      = link_to t(:edit_person), edit_person_url(person), :class => 'admin edit minimal', :remote => true, :data => {:action => "overlay_form", :type => "html"}
    - if current_user.admin?
      = link_to t(:remove), person_url(person), :method => 'delete', :class => 'admin delete minimal', :remote => 'true', :data => {:confirm => t(:confirm_delete_person, :name => person.name)}
