- uninvite ||= false

%li.person{:id => "person_#{person.id}", :data => {:refreshable => true, :url => droom.edit_person_path(person, :format => :js)} }
  %span.mugshot{:style => "background-image: url(#{person.image.url('cropped')})"}
  %span.contact
    %span.name
      = person.formal_name
      = action_menulink(person, :class => "small")
    %br
    %span.note
      - if person.phone? || person.email?
        - if person.phone?
          = person.phone
        - if person.phone? && person.email?
          %br
        - if person.email?
          = mail_to person.email
      - else
        = t :contact_information_unavailable

    = action_menu(person, :uninvite => uninvite)
