- person ||= search_result
- path = person_url(person)
- hit = person.hit
.person
  = link_to "person:", path, :class => "icon"
  - if hit and (highlights = hit.highlights.select{|hl| hl.field_name == :name or hl.field_name == :forename}).any?
    = render :partial => "droom/shared/title_excerpt", :locals => {:path => path, :highlights => highlights}
  - else
    = link_to person.formal_name, path
  .excerpt
    - if hit and (highlights = hit.highlights.select{|hl| hl.field_name == :description}).any?
      = render :partial => "droom/shared/excerpt", :locals => { :highlights => highlights }
    - else
      = truncate person.description, :length => 130
