- person ||= @person

#person
  .header
    = link_to "X", '#', :class => "closer", :data => {:action => "close"}
    %h2.titlebar
      = person.formal_name
  .person
    .mugshot.full{:style => "background-image: url(#{person.image.url('thumb')})"}
    .detail
      %h3
        = person.formal_name

      %p.contact
        - if person.organisation
          %strong
            = person.organisation.name
            %br
        - if person.email?
          = mail_to person.email
        - if person.email? && person.phone?
          = t :or
        - if person.phone?
          = person.phone
      .description
        - if person.description?
          = sanitize(person.description.html_safe)
        - else
          %p
            = t :no_person_description
          