- if document = scrap.document
  = link_to "document:", droom.scrap_url(scrap), :data => {:action => "popup"}, :class => "#{document.file_extension} icon"
  %p.scrapdocument
    = link_to document.name, droom.scrap_url(scrap), :data => {:action => "popup"}
    = action_menulink(scrap, :class => "small")
    %span.caption
      = shorten(scrap.note, 120)
    = render :partial => "droom/scraps/credit", :locals => {:scrap => scrap}
    = action_menu(scrap)
