- if event = scrap.event
  %a.minidatemark{:href => droom.scrap_url(scrap), :data => {:action => "popup"}}
    %span.mon= event.start.strftime('%b')
    %span.dom= event.start.strftime('%d')
    - if event.start.year != Date.today.year
      %span.year= event.start.strftime('%Y')

  %p.scrapevent
    = link_to shorten(event.name, 90), droom.scrap_url(scrap), :data => {:action => "popup"}
    - if scrap.event.url
      = link_to "&rarr;".html_safe, scrap.event.url_with_protocol
    = action_menulink(scrap, :class => "small")
    - if scrap.note
      %span.caption
        = shorten(scrap.note, 140)
    = render :partial => "droom/scraps/credit", :locals => {:scrap => scrap}
  = action_menu(scrap)
