= link_to "image:", droom.scrap_url(scrap, :js), :class => "thumb", :style =>"background-image: url('#{scrap.image.url(:icon)}')", :data => {:action => "stream"}
%p
  = link_to shorten(scrap.note, 140), droom.scrap_url(scrap, :js), :class => "scrap", :data => {:action => "stream"}
  = action_menulink(scrap, :class => "small")
  = render :partial => "droom/scraps/credit", :locals => {:scrap => scrap}
= action_menu(scrap)
