= link_to "link:", droom.scrap_url(scrap, :js), :class => "icon link", :data => {:action => "stream"}
%p
  = link_to shorten(scrap.body, 70), droom.scrap_url(scrap, :js), :data => {:action => "stream"}
  = link_to "&rarr;".html_safe, scrap.url_with_protocol
  = action_menulink(scrap, :class => "small")
  - if scrap.note
    %span.caption
      = shorten(scrap.note, 140)
  = render :partial => "droom/scraps/credit", :locals => {:scrap => scrap}
= action_menu(scrap)
