= link_to "quote:", droom.scrap_url(scrap, :js), :class => "icon quote", :data => {:action => "stream"}
%p
  = link_to shorten(scrap.body, 120), droom.scrap_url(scrap, :js), :data => {:action => "stream"}
  = action_menulink(scrap, :class => "small")
  %span.attribution
    = shorten(scrap.note, 40)
  = render :partial => "droom/scraps/credit", :locals => {:scrap => scrap}
= action_menu(scrap)
