= link_to "text:", droom.scrap_url(scrap, :js), :class => "icon text", :data => {:action => "stream"}
%p
  = link_to shorten(scrap.body, 90), droom.scrap_url(scrap, :js), :data => {:action => "stream"}
  = action_menulink(scrap, :class => "small")
  %span.attribution
    = shorten(scrap.note, 40)
  = render :partial => "droom/scraps/credit", :locals => {:scrap => scrap}
= action_menu(scrap)
