- listed ||= nil
- organisation ||= listed || @organisation

.organisation.gridbox{:id => "organisation_#{organisation.id}", :data => {:refreshable => true, :url => droom.organisation_path(organisation, view: 'listed')} }
  = action_menulink(organisation)
  = action_menu(organisation)

  .content
    %h2.name<
      = link_to organisation.name, droom.organisation_url(organisation), :class => "name"
      - if organisation.chinese_name?
        %span.chinese_name
          = organisation.chinese_name

    - if organisation.tags.any?
      %ul.tags
        - organisation.tags.each do |tag|
          %li.tag
            %svg.prefix
              %use{"xlink:href" => "#tag_symbol"}
            %span.label
              = tag.name

    %p.details.notes
      - if organisation.organisation_type
        = t "organisation_types.#{organisation.organisation_type.name.downcase}"
        - if organisation.activities.any?
          = t :with_activities_count, count: organisation.activities.count

    - if organisation.description?
      = sanitize organisation.description
    - else
      %p.nodescription
        = t :no_description

    - if organisation.users.any?
      %ul.people
        = render partial: "droom/users/show/listed_minimal", collection: organisation.users
