- listed ||= nil
- organisation ||= listed || @organisation
- open ||= organisation == @organisation

.organisation.holder{:id => "organisation_#{organisation.id}", :class => open ? "name open" : "name", :data => {:refreshable => true, :url => droom.organisation_path(organisation, :format => :js)} }
  .heading
    %h2.name<
      = link_to organisation.name, organisation_url(organisation), :class => "name"
      - if organisation.organisation_type
        %span.addendum
          = organisation.organisation_type.name
      = action_menulink(organisation)
      - if organisation.chinese_name?
        %span.chinese_name
          = organisation.chinese_name
    = action_menu(organisation)

    = organisation.description.html_safe if organisation.description?
