- content_for :title do
  - if current_user.organisation == @organisation
    Manage your organisation
  - else
    = @organisation.name

- if current_user.organisation == @organisation
  - content_for :standfirst do
    %p
      %strong
        Hello
        = current_user.name
      and welcome. This is where you manage the
      %strong
        = @organisation.name
      organisation.

%div{id: "organisation_#{@organisation.id}", data: {refreshing: droom.organisation_url(@organisation, view: 'page')}}

  %section.description
    - if @organisation.description?
      = sanitize(@organisation.description)

    - else
      = link_to droom.edit_organisation_url(@organisation), class: "edit", data: {action: "popup", affected: "#organisation_#{@organisation.id}"} do
        %svg.icon.small
          %use{"xlink:href" => "#plus_symbol"}
        %span.label
          = t(:describe_organisation)

  = render partial: "droom/organisations/show/users", locals: {organisation: @organisation}

  = render "droom/organisations/show/extras"
