- pending ||= nil
- organisation ||= pending || @organisation

.organisation.holder{:id => "organisation_#{organisation.id}", :data => {:refreshable => true, :url => droom.organisation_path(organisation, view: "pending")} }
  - if admin?
    = render partial: "droom/organisations/show/status", locals: {organisation: organisation}

  %h2.name<
    = link_to organisation.name, organisation.url, :class => "name"
    - if organisation.organisation_type
      %span.addendum
        = organisation.organisation_type.name
    - if organisation.chinese_name?
      %span.chinese_name
        = organisation.chinese_name

  - if organisation.description?
    %p.description
      = shorten organisation.description, length: 240
