- organisation ||= @organisation

- if admin?
  .status
    - if organisation.approved?
      - approved_by = " by #{organisation.approved_by.name}" if organisation.approved_by
      %span.success{title: "Approved#{approved_by}"}
        %svg.prefix
          %use{"xlink:href" => "#tick_symbol"}

    - elsif organisation.disapproved?
      - rejected_by = " by #{organisation.disapproved_by.name}" if organisation.disapproved_by
      %span.warning{title: "Rejected#{rejected_by}"}
        %svg.prefix
          %use{"xlink:href" => "#tick_symbol"}

    - else
      = link_to droom.approve_organisation_url(organisation), class: "approve", data: {action: "affect", affected: "#organisation_#{organisation.id}"} do
        %svg.prefix
          %use{"xlink:href" => "#tick_button_symbol"}
      = link_to droom.disapprove_organisation_url(organisation), class: "reject", data: {action: "remove", removed: "#organisation_#{organisation.id}"} do
        %svg.prefix
          %use{"xlink:href" => "#cross_button_symbol"}

