- if editable?(event)
  .menu{:data => {:for => "event_#{event.id}"}}
    %ul.actions
      %li
        = link_to t(:edit_event), droom.edit_event_url(event), :class => 'edit', :data => {:action => "popup", :replaced => "#event_#{event.id}", :affected => ".minimonth"}
      %li
        = link_to t(:add_document), droom.new_folder_document_url(event.folder), :class => "add", :remote => true, :data => {:action => "popup", :type => "html", :affected => "#event_#{event.id}"}
      %li
        = link_to t(:add_category), droom.new_event_agenda_category_url(event), :class => "add", :remote => true, :data => {:action => "popup", :type => "html", :affected => "#event_#{event.id}"}
      %li
        = link_to t(:delete_event), droom.event_url(event), :method => 'delete', :class => 'delete', :data => {:action => "remove", :removed => "#event_#{event.id}", :affected => ".minimonth", :confirm => t(:confirm_delete_event, :name => event.name)}
