- if can? :edit, event
  .menu{data: {for: "event_#{event.id}"}}
    %ul.actions
      %li
        = link_to t(:edit_event), droom.edit_event_url(event), class: 'edit', data: {action: "popup", replaced: "#event_#{event.id}", affected: ".minimonth"}
      %li
        = link_to t(:add_document), '#', class: "add", data: {role: "upload-file"}
      %li
        = link_to t(:edit_event_folder), droom.edit_folder_url(event.folder), class: "add", data: {action: "popup", affected: "#event_#{event.id}"}
      %li
        = link_to t(:add_subfolder), droom.new_folder_folder_url(event.folder), class: "add", data: {action: "popup", affected: "#event_#{event.id}"}
      %li
        = link_to t(:invite_group), droom.new_event_group_invitation_url(event), class: "add", data: {action: "popup", affected: "#event_#{event.id}"}
      %li
        = link_to t(:delete_event), droom.event_url(event), method: 'delete', class: 'delete', data: {action: "remove", removed: "#event_#{event.id}", affected: ".minimonth", confirm: t(:confirm_delete_event, name: event.name)}
