- @seen_events ||= []
- brief ||= false
- show_header ||= false
- event ||= @event
- full_attachments ||= false

- if event
  - event_master_id = event.master_id || event.id
  - if @seen_events[event_master_id]
    - repeating = true 
    - brief = true
  - @seen_events[event_master_id] = true;
  - cssclasses = ['event holder']
  - cssclasses << 'repeat' if repeating
  - cssclasses << 'private' if event.private?
  - cssclasses << 'public' if event.public?

  - if show_header 
    - header = month_header_for(event.start_date)
    - if header != @event_header
      %p.note
        = @event_header = header

  %div{:class => cssclasses.join(' ')}
    .datemark
      %span.mon= event.start.strftime('%b')
      %span.dom= event.start.strftime('%d')
      - if event.start.year != Date.today.year
        %span.year= event.start.strftime('%Y')

    .summary
      %h2.name<
        = link_to event.name, event_url(event)
        - if admin?
          %span.admin<
            = link_to t(:edit_event), edit_event_url(event), :class => 'edit minimal', :remote => true, :data => {:action => "overlay_form", :type => "html"}
            = link_to t(:remove), event_url(event), :method => 'delete', :class => 'delete minimal', :remote => 'true', :data => {:confirm => t(:confirm_delete_event, :name => event.name), :affected => ".minimonth"}
        - else
          = link_to t(:download_ical), event_url(event, :format => :ics), :class => 'ical icon'

      - unless brief || full_attachments
        - if event.documents.any?
          .documents
            %h3 
              = t(:attachments)
            %ul.downloads
              = render :partial => 'droom/documents/listing', :collection => event.documents.by_date.limit(3)
              - if event.documents.count > 3
                %li.more
                  = link_to t(:more_documents_count, :count => event.documents.count - 3), event_url(event)
      
      %p.practicalities
        %time
          = l(event.start_time, :format => :natural)
        - if event.venue
          %span.location
            = t(:at)
            - if event.venue.url
              = link_to event.venue.proper_name, event.venue.url
            - elsif Droom.show_venue_map
              = link_to event.venue.proper_name, venues_url(:id => event.venue.id)
            - else
              %strong
                = event.venue.proper_name
                
      - unless brief
        = simple_format event.description, :class => "description"
  - if full_attachments
    = render :partial => 'droom/events/invitations', :locals => {:event => event}

  - if full_attachments
    = render :partial => 'droom/documents/documents_list', :event => event
