- @seen_events ||= []
- short ||= false
- show_header ||= false

- if event
  - event_master_id = event.master_id || event.id
  - repeating = true if @seen_events[event_master_id]
  - @seen_events[event_master_id] = true;
  - cssclasses = ['event']
  - cssclasses << 'repeat' if repeating
  - cssclasses << 'private' if event.private?
  - cssclasses << 'public' if event.public?

  - if show_header 
    - header = month_header_for(event.start_date)
    - if header != @event_header
      %p.note
        = @event_header = header

  %div{:class => cssclasses.join(' ')}
    .datemark
      %span.mon= event.start.strftime('%b')
      %span.dom= event.start.strftime('%d')
      - if event.start.year != Date.today.year
        %span.year= event.start.strftime('%Y')

    .summary
      %h2.name
        = event.name
        = link_to t(:download_ical), event_url(event, :format => :ics), :class => 'ical icon'
      
      - if event.documents.any?
        .documents
          %h3 
            = link_to t(:downloads), '#', :title => t(:click_to_download_zipfile)
          %ul.downloads
            = render :partial => 'droom/documents/li', :collection => event.documents
      
      %p.practicalities
        %time
          = l(event.start_time, :format => :natural)
        - if event.venue
          %span.location
            = t(:at)
            - if event.venue.url
              = link_to event.venue.proper_name, event.venue.url
            - else
              = event.venue.proper_name
            - if event.venue.address?
              %br
              = event.venue.address
              
      - unless short || repeating
        = simple_format event.description, :class => "description"
    