- event ||= event_line

.eventline    
  %h4
    = event.name
  %p
    - date_format = event.start.year == Date.today.year ? :natural : :natural_with_year
    = l event.start_time, :format => :natural
    = t :on
    = l event.start_date, :format => date_format
    - if event.venue
      = t :at
      = event.venue.proper_name
