- @seen_events ||= []
- event ||= @event
- open ||= event == @event
- open = true if pageclass == 'events'
- full_attachments ||= false

- event_master_id = event.master_id || event.id
- if @seen_events[event_master_id]
  - repeating = true 
  - brief = true
- @seen_events[event_master_id] = true;

- cssclasses = ['event']
- cssclasses << 'repeat' if repeating
/ - cssclasses << 'private' if event.private?
/ - cssclasses << 'public' if event.public?
- cssclasses << 'open' if open
- cssclasses << 'invited' if event.attended_by?(current_user)

%div{:class => cssclasses.join(' '), :id => "event_#{event.id}", :data => {:action => "collapser", :refreshable => true, :url => event_path(event, :format => :js)} }
  .datemark
    %span.mon= event.start.strftime('%b')
    %span.dom= event.start.strftime('%d')
    - if @year || event.start.year != Date.today.year
      %span.year= event.start.strftime('%Y')

  .summary
    .heading
      %h2.name<
        = link_to event.name, event_url(event), :class => "name"
        = action_menulink(event)
      = action_menu(event)
        
      .detail
        - if !full_attachments && event.folder.populated?
          %ul.folder
            = render :partial => "droom/folders/folder", :object => event.folder, :locals => {:title => t(:attachments), :open => true, :flat => true, :limit => 3, :for_more => event_url(event)}

        %p.practicalities
          %time
            = l(event.start_time, :format => :natural)

          - if event.finish?
            = t :to
            %time
              = l(event.finish_time, :format => :natural)
          - if event.timezone == "London"
            = "(#{t(:uk_time)})"

          - if event.venue
            %span.location
              = t(:at)
              - if event.venue.url
                = link_to event.venue.definite_name + ".", event.venue.url
              - elsif Droom.show_venue_map?
                = link_to event.venue.definite_name + ".", venues_url(:id => event.venue.id)
              - else
                = event.venue.definite_name + "."

        - if event.description?
          = event.description.html_safe 

  - if full_attachments
    .addenda
      = render :partial => 'droom/events/attachments', :locals => {:event => event}
      = render :partial => 'droom/events/invitations', :locals => {:event => event}
