- @seen_events ||= []
- event ||= @event
- here ||= event == @event
- full_attachments ||= false
- show_folder = event.folder && can?(:read, event.folder)

- event_master_id = event.master_id || event.id
- if @seen_events[event_master_id]
  - repeating = true
  - brief = true
- @seen_events[event_master_id] = true;

- cssclasses = ['event']
- cssclasses << 'repeat' if repeating
- cssclasses << 'full' if here
- cssclasses << 'invited' if event.attended_by?(current_user)

- div_data = {refreshing: event_path(event, format: :js)}
- if show_folder
  - div_data[:droppable] = droom.folder_documents_path(event.folder)
  - div_data[:queue] = "#queue_to_#{event.folder.id}"
  - div_data[:refreshes] = "#event_#{event.id}"

%div{:class => cssclasses.join(' '), id: "event_#{event.id}", data: div_data}
  = link_to event_url(event) do
    .datemark
      %span.mon= event.start.strftime('%b')
      %span.dom= event.start.strftime('%d')
      - if @year || event.start.year != Date.today.year
        %span.year= event.start.strftime('%Y')

  .summary
    .heading
      %h2.name<
        = link_to event.name, event_url(event), :class => "name"
        = action_menulink(event)
      = action_menu(event)

      %p.practicalities
        - if event.venue
          %span.location
            %svg.icon.pint-sized
              %use{"xlink:href" => "#location_symbol"}
            - if event.venue.url
              = link_to event.venue.definite_name, event.venue.url
            - elsif Droom.show_venue_map?
              = link_to event.venue.definite_name, venues_url(:id => event.venue.id)
            - else
              = event.venue.definite_name
        %span.time
          %svg.icon.pint-sized2
            %use{"xlink:href" => "#clock_symbol"}
          %time
            = l(event.start_time, :format => :natural)

          - if event.finish?
            = t :to
            %time
              = l(event.finish_time, :format => :natural)
          - if event.timezone == "London"
            = "(#{t(:uk_time)})"

      .detail
        - if event.description?
          .content
            = sanitize(event.description)
        - if show_folder && !full_attachments
          - if event.folder.populated? || can?(:read, event.folder)
            .attachments
              - if can?(:edit, event.folder)
                %ul.uploads{id: "queue_to_#{event.folder.id}"}
              = render :partial => "droom/folders/contents", :locals => {:folder => event.folder, :open => true, :flat => true, :narrow => true, :limit => 3, :omit_menu => true, :for_more => event_url(event)}


  - if show_folder && full_attachments
    .addenda
      = render :partial => 'droom/events/attachments', :locals => {:event => event}
      = render :partial => 'droom/events/invitations', :locals => {:event => event}
