= form_for @event, :html => {:class => 'edit event', :remote => true, :data => {:type => :html}} do |f|
  .datemark.datepicker
    %a{:href => "#"}
      - if @event.start
        %span.mon= @event.start.strftime('%b')
        %span.dom= @event.start.strftime('%d')
        %span.year= @event.start.strftime('%Y')
      - else
        %span.mon= t(:mon)
        %span.dom= t(:dom)
        %span.year= t(:year)

    = f.hidden_field :start_date
    .kal

  .summary
    %p.name
      = f.text_field :name, :class => 'name', :placeholder => t(:event_name)

    %p.practicalities
      = f.text_field :start_time, :class => "timepicker", :value => (I18n.l(@event.start_time, :format => :precise) if @event.start_time), :placeholder => t(:event_time)
      = t :at
      %span.venue
        %span.name
          = f.text_field :venue_name, :class => "venuepicker", :placeholder => t(:venue_name), :autocomplete => "off"
        %span.post_code
          = f.text_field :venue_post_code, :placeholder => t(:venue_post_code), :autocomplete => "off"

    .description.wysihtml
      .toolbar#t1
        = render 'droom/shared/toolbar'
      = f.text_area :description, :id => 'd1'

    .buttons
      = f.submit t(:save_event)
      = t :or
      = link_to t(:cancel), "/", :class => 'cancel'
