- @event.calendar ||= Droom::Calendar.default_calendar

= form_for @event, :html => {:class => 'edit event', :remote => true, :data => {:type => :html}} do |f|
  .datemark{data: {role: "datepicker"}}
    %a{:href => "#", title: t("placeholders.event.datemark")}
      - if @event.start
        %span.mon= @event.start.strftime('%b')
        %span.dom= @event.start.strftime('%d')
        %span.year= @event.start.strftime('%Y')
      - else
        %span.mon= t(:mon)
        %span.dom= t(:dom)
        %span.year= t(:year)
    = f.hidden_field :start_date

  .summary
    %p.name
      = f.text_field :name, :class => 'name', :placeholder => t(:event_name), :autofocus => true

    %p.practicalities
      %span.times
        = f.text_field :start_time, :class => "timepicker start", :value => (I18n.l(@event.start_time, :format => :precise) if @event.start_time), :placeholder => t(:event_time)
        %span.interlabel
          = t :to
        = f.text_field :finish_time, :class => "timepicker finish", :value => (I18n.l(@event.finish_time, :format => :precise) if @event.finish_time), :placeholder => t(:finish_time)
        %span.interlabel
          = t :at
      %span.venue
        = f.text_field :venue_name, :class => "venuepicker", :placeholder => t("placeholders.event.venue_name"), :autocomplete => "off",  data: {role: "venuepicker", width: 300}
      - if Droom.second_time_zone?
        %span.timezone
          = f.check_box :timezone, {id: "event_timezone_UK"}, "London", "Hong Kong"
          %label{for: "event_timezone_UK"}
            = t :uk_time

    .description
      = f.text_area :description, class: "rte", placeholder: t("placeholders.event.description")
    
    %p.admin
      - if Droom::EventType.count > 1
        = f.label :event_type_id, t(:file_under)
        = f.select :event_type_id, Droom::EventType.for_selection, {}, class: "small"
      - if Droom.separate_calendars? && Droom::Calendar.count > 1
        = f.label :calendar_id
        = f.select :calendar_id, Droom::Calendar.for_selection, {}, class: "small"
      - else
        = f.hidden_field :calendar_id

    .buttons
      = f.submit t(:save_event)
      %br
      = t :or
      = link_to t(:cancel), "/", :class => 'cancel'
