- minimal ||= nil
- event ||= minimal || @event

.event.minimal
  .datemark
    %span.mon= event.start.strftime('%b')
    %span.dom= event.start.strftime('%d')
    - if event.start.year != Date.today.year
      %span.year= event.start.strftime('%Y')
  %p.sample
    = link_to event.name, droom.event_url(event)
    = action_menulink(event, :class => "small")
    %span.caption
      = shorten(event.description, 160)
  = action_menu(event)

