- event ||= search_result
- hit = event.hit
.event
  .datemark
    %span.mon= event.start.strftime('%b')
    %span.dom= event.start.strftime('%d')
    - if event.start.year != Date.today.year
      %span.year= event.start.strftime('%Y')
  = link_to event.name, event_url(event)
  .excerpt
    = render :partial => "droom/shared/excerpt", :locals => { :hit => hit }
