- event ||= suggested
- date_format = event.start.year == Date.today.year ? :natural : :natural_with_year

%li.event
  = link_to event.name, event_url(event)
  %span.note
    = l event.start_time, :format => :natural
    - if event.timezone == "London"
      = "(#{t(:uk_time)})"
    = t :on
    = l event.start_date, :format => date_format
    - if event.venue
      = t :at
      = event.venue.definite_name

