- @seen_events = {}
- @event_header = month_header_for(Date.today)

#events

  - if user_signed_in? && current_user.person
    - if @my_future_events.any?
      %section.personal
        %p.twister
          = link_to t(:your_future_events), '#'
        .twisted
          = render :partial => 'event', :collection => @my_future_events

  - if @my_past_events.any?
    %section.past
      %p.twister.closed
        = link_to t(:your_past_events), '#'
      .twisted
        = render :partial => 'event', :collection => @my_past_events

  - if @my_past_events.empty? && @my_future_events.empty?
    %p
      = t :no_events_for_you
    %section.general
      %p.twister.closed
        = link_to t(:future_events), '#'
      .twisted
        = render :partial => 'event', :collection => @other_events
      
#marginalia
  - unless @my_past_events.empty? && @my_future_events.empty?
    %section.general
      - if @other_events.any?
        %p.twister
          = link_to t(:other_future_events), '#'
        .twisted
          = render :partial => 'event_line', :collection => @other_events
  