- if current_user.admin?
  .holder
    %p.admin
      = link_to t(:add_event), droom.new_event_url, :class => "add", :remote => true, :data => {:action => "popup", :type => "html", :affected => ".events_list, .minimonth"}

#events
  %h2.quiet
    = t(:future_events)
  
  = render :partial => 'events'

- content_for :title do
  = t :calendar

- content_for :default_margin do
  = render :partial => 'droom/dashboard/marginalia'
