#main.events


  %h2.section
    =  @direction == 'past' ? t(:past_events) : t(:future_events)
    - if can?(:create, Droom::Event)
      %span.action
        = link_to t(:add_event), droom.new_event_url, :class => "add minimal", :data => {:action => "popup", :affected => "#events"}

  = render :partial => 'events'



- content_for :title do
  = t :calendar

- content_for :standfirst do
  %p
    - if @direction == 'past'
      = t(:calendar_past_introduction, :url => droom.events_url(:direction => "future")).html_safe
    - else
      = t(:calendar_introduction, :url => droom.events_url(:direction => "past")).html_safe
    

- content_for :margin do
  = render :partial => "droom/invitations/invitations"
