- content_for :title do
  - if @year
    = t(:events_in, period: @year)
  - elsif @direction == "past"
    = t(:past_events)
  - else
    = t(:calendar)
    
- content_for :margin do
  = render :partial => "droom/shared/calendar_holder"
  = render :partial => "droom/invitations/invitations"
  = render :partial => "droom/events/scrap_events"


#calendar
  = render :partial => 'shortcuts'
  = render :partial => 'events'
