- @seen_events = {}

%h1
  = t :calendar
  
- if user_signed_in? && current_user.events.any?
  %section.personal
    %h2= t :your_events
    = render :partial => 'event', :collection => current_user.events

- if @events.any?
  %section.general
    %h2= t :events_coming_up
    = render :partial => 'event', :collection => @events

- if @continuing_events.any?
  %section.continuing
    %h2= t :continuing_events
    = render :partial => 'event', :collection => @continuing_events
