#calendar
  %p.navigation
    - if @direction == "past"
      = link_to "Show future events", events_url
    - else
      = link_to "Show past events", events_url(direction: "past")
  
  = render :partial => 'events'

  %p.action
    = link_to t(:subscribe_to_calendar), "webcal://#{Settings.host}/events.ics", class: "subscribe"
    - if can?(:create, Droom::Event)
      = link_to t(:add_event), droom.new_event_url, :class => "add", :data => {:action => "popup", :affected => "#events"}

- content_for :title do
  = t :calendar
    
- content_for :margin do
  = render :partial => "droom/shared/calendar_holder"
  = render :partial => "droom/invitations/invitations"
  = render :partial => "droom/events/scrap_events"
