- user ||= @user

- if admin?
  - groups = Droom::Group.all
  - if groups.any?
    %div{style: 'width: 100%;'}
      = f.label(:group_ids, class: "important") + ":"
      - groups.each do |group|
        %label.inline{for: "user_group_ids_#{group.id}"}
          = check_box_tag "user[group_ids][]", group.id, user.group_ids.include?(group.id), id: "user_group_ids_#{group.id}", disabled: true
          = group.name
