= form_for [@event, @group_invitation], :html => {:class => "invitation", :remote => true, :data => {:type => :html}} do |f|
  %ul.groups
    - Droom::Group.all.each do |group|
      %li.group
        = f.radio_button :group_id, group.id
        = f.label :"group_id_#{group.id}", group.name
        - if group.invited_to?(@event)
          %br
          %span.formnote
            = t :group_already_invited

  .buttons
    = f.submit t(:invite), :class => "submit"
    = t :or
    = link_to t(:cancel), '#', :class => "cancel"
