= form_for [@event, @group_invitation], :html => {:class => "invitation", :remote => true, :data => {:type => :html}} do |f|
  %p
    %input.group_selector.name{:type => "text", :placeholder => t(:group_name), :autocomplete => "off"}
    = f.hidden_field :group_id, :class => "group_picker_target"

  .buttons
    = f.submit t(:invite), :class => "submit"
    = t :or
    = link_to t(:cancel), '#', :class => "cancel"
