- popup ||= nil
- help ||= popup || @help

#help
  - if help.illustrated?
    .header.illustrated{data: {draggable: ".popup", remembered: "help"}}
      .bg{style: "background-image: url('#{help.main_image.url(:half)}')"}
      .darken
      .fg
        = link_to "X", '#', :class => "closer", :data => {:action => "close"}
        %h3.title
          = help.title
  - else
  .header{data: {draggable: ".popup", remembered: "help"}}
    = link_to "X", '#', :class => "closer", :data => {:action => "close"}
    %h2.titlebar
      = help.title

  .body
    .content
      = clean_html(help.content.presence || "<p></p>")
