- popup ||= nil
- help ||= popup || @help

#help
  - if help.illustrated?
    .header.illustrated{data: {draggable: ".popup", remembered: "help"}}
      .bg{style: "background-image: url('#{help.main_image.url(:half)}')"}
      .darken
      .fg
        = link_to "X", '#', :class => "closer", :data => {:action => "close"}
        %h3.title
          = help.title
  - else
    = render 'droom/shared/popup_header', title:  help.title, drag_flag: "help"
  
  .body
    .content
      = clean_html(help.content.presence || "<p></p>")
