- user ||= @user
#note
  = render partial: 'droom/users/edit/header', locals: { user: user}

  = form_for user, :html => {class: 'poppedup'}, data: {remote: true, type: :html} do |f|
    = hidden_field_tag :view, @view

    #edit_account_info
      .edit_account_info_content
        .content_box
          = 'Created at: '
          %b
            = user.created_at.present? ? user.created_at.strftime('%e %b %Y') : t(:not_known)
        .content_box
          = 'Last signed in: '
          %b
            = user.last_sign_in_at.present? ? user.last_sign_in_at.strftime('%e %b %Y') : t(:not_known)

        .last_content_box
          = 'Data Room Access: '
          %b
            = user.data_room_user? ? 'Yes' : 'No'

      .edit_account_info_content
        .content_box
          = 'Account Confirmed?: '
          %b
            = user.confirmed? ? 'Yes' : 'No'

        .content_box
          = 'Confirmed at: '
          %b
            = user.confirmed_at.present? ? user.confirmed_at.strftime('%e %b %Y') : t(:not_known)
        .last_content_box
          = 'Administrator?: '
          = f.check_box :admin

      .edit_account_info_content
        = render partial: 'droom/users/edit/buttons', locals: {f: f}