- user ||= @user
#note
  = render partial: 'droom/users/edit/header', locals: { user: user}

  = form_for user, :html => {class: 'poppedup'}, data: {remote: true, type: :html} do |f|
    = hidden_field_tag :view, @view

    - if Droom.use_biogs?
      .description
        = f.text_area :description, class: "rte", placeholder: t("placeholders.user.description")

    = render partial: 'droom/users/edit/buttons', locals: {f: f}
