- user ||= @user
#note
  = render partial: 'droom/users/edit/header', locals: { user: user}

  = form_for user, :html => {class: 'poppedup'}, data: {remote: true, type: :html} do |f|
    = hidden_field_tag :view, @view

    #edit_contacts
      = render "droom/users/edit/emails", f: f, user: user, is_edit_mode: true
      = render "droom/users/edit/phones", f: f, user: user, is_edit_mode: true
      = render "droom/users/edit/addresses", f: f, user: user, is_edit_mode: true

    = render partial: 'droom/users/edit/buttons', locals: {f: f}