- user ||= @user

- if admin?
  %p.gender
    = f.radio_button :gender, "f"
    = f.label :gender, t(:"helpers.label.user.gender_f"), value: "f"

    = f.radio_button :gender, "m"
    = f.label :gender, t(:"helpers.label.user.gender_m"), value: "m"

  - unless user.new_record? || user.confirmed?
    %p.confirmation
      = f.check_box :send_confirmation
      = f.label :send_confirmation
