- user ||= @user

- if admin? && user.persisted?
  %p.memberships
    = f.label :group_ids, "Group memberships", class: "important"
    %br
    - Droom::Group.all.each do |group|
      %label.inline{for: "user_group_ids_#{group.id}"}
        = check_box_tag "user[group_ids][]", group.id, user.group_ids.include?(group.id), id: "user_group_ids_#{group.id}"
        = group.name
