- user ||= f.object
- with_submit ||= false
- with_label ||= false
- with_guidance ||= false
- fclass = ""
- fclass << " required" unless user.password_set?

%fieldset{data: {role: 'password'}}

  %p.manage_password
    %span.col.password>
      - if with_label
        = f.label :password, class: "required"
      = f.password_field :password, placeholder: t("placeholders.user.password"), required: !user.password_set?, data: {role: "password"}
    %span.col.confirmation{:data => {:role => "confirmation"}}>
      - if with_label
        %br
      = f.password_field :password_confirmation, placeholder: "", required: true

  %p.password_quality{data: {role: "meter"}}
    %span.meter{data: {role: "gauge"}}
      %svg
        %use{"xlink:href" => "#warning_symbol"}
    %span.instructions{data: {role: "warnings"}}

  - if with_submit
    %p.buttons{:data => {:role => "confirmation"}}>
      = f.submit t(:set_password)

  - if with_guidance
    %p.guidance
      = t :password_guidance
