- user ||= f.object

%p
  = f.label :password
  %br
  = f.password_field :password, :autocomplete => "off", :class => 'preferences password required', :required => user.new_record?, :pattern => Droom.password_pattern
  %br
  %span.note
    = t :password_requirements

%p.confirmation
  = f.label :password_confirmation
  %br
  = f.password_field :password_confirmation, :class => 'preferences password_confirmation required', :required => false, :pattern => ""

%p.note.password_notice
