- user ||= f.object
- with_submit ||= false

%fieldset{data: {role: 'password'}}
  %p.manage_password
    %span.col.password>
      = f.label :password, class: "required"
      = f.password_field :password, placeholder: "Six characters or more, please", required:  user.new_record?, data: {role: "password"}
    %span.col.password_quality{data: {role: "meter"}}
      &nbsp;
      %br
      %span.meter{data: {role: "gauge"}}
    %span.col.confirmation{:data => {:role => "confirmation"}}>
      = f.label :password_confirmation, class: "required"
      = f.password_field :password_confirmation, placeholder: "", required: true
  %p.password_notes
    %span.instructions{data: {role: "warnings"}}
    %span.notes{data: {role: "notes"}}

    - if with_submit
      %span.col.button{:data => {:role => "confirmation"}}>
        &nbsp;
        %br
        = f.submit "Continue"