- user ||= f.object
- with_submit ||= false

%fieldset{data: {role: 'password'}}
  %p.set_password
    %span.col.password>
      = f.label :password, class: "required"
      = f.password_field :password, placeholder: "Six characters or more, please", required:  user.new_record?, data: {role: "password"}
    %span.col.confirmation{:data => {:role => "confirmation"}}>
      = f.label :password_confirmation, class: "required"
      = f.password_field :password_confirmation, placeholder: "", required: true

  %p.password_quality{data: {role: "meter"}}
    %span.meter{data: {role: "gauge"}}
    %span.instructions{data: {role: "warnings"}}

  - if with_submit
    %p.buttons{:data => {:role => "confirmation"}}>
      = f.submit "Set password"

  %p.guidance
    As you type your password its strength will be evaluated and suggestions given.
    You are not required to choose a complicated password but it is highly recommended for your own protection: obvious passwords can be cracked in a few seconds.
    You can add numbers and punctuation to increase complexity, but spaces are also allowed so the easy way is just to type more words.

  