- user ||= f.object
- with_submit ||= false

%fieldset{data: {role: 'password'}}
  %p.set_password
    %span.col.password>
      = f.label :password, class: "required"
      = f.password_field :password, placeholder: "Six characters or more, please", required:  user.new_record?, data: {role: "password"}
    %span.col.confirmation{:data => {:role => "confirmation"}}>
      = f.label :password_confirmation, class: "required"
      = f.password_field :password_confirmation, placeholder: "", required: true
    - if with_submit
      %span.col.button{:data => {:role => "confirmation"}}>
        &nbsp;
        %br
        = f.submit "Continue"

  %p.password_quality{data: {role: "meter"}}
    %span.meter{data: {role: "gauge"}}
    %span.instructions{data: {role: "warnings"}}
    %span.notes{data: {role: "notes"}}

  %p.guidance
    As you type your password its strength will be evaluated and suggestions given.
    If the password is too common or too easily guessed, it will not be accepted.
    You can add numbers and punctuation to increase its complexity, but spaces are allowed
    and the easy way is just to type more words. When the password is strong enough, a tick will appear in the circle above and
    the confirmation box will wake up. Please type the password again so that we definitely have the right version.

  