- user ||= @user
- me = user == current_user

#edit_user
  = render 'droom/shared/popup_header', title: me ? t(:edit_your_account) : t(:edit_account_of, name: user.name)

  = form_for @user, :html => {:class => 'edit user password', :autocomplete => false} do |f|
    %p
      - if me
        = t :account_emails
      - else
        = t :admin_account_emails
    = render "droom/users/edit/emails", f: f, user: user
    
    - if !@user.confirmed? && (admin? || @user.organisation && organisation_admin?(@user.organisation))
      %p
        = f.check_box :send_confirmation, class: "fancy"
        = f.label :send_confirmation

    %p
      - if me
        = t :account_password
      - else
        = t :admin_account_password
    = render "droom/users/edit/admin_password_fields", f: f, user: user

    %p.admin
      - if admin?
        = f.select :organisation_id, Droom::Organisation.for_selection, :class => 'preferences'
        %br
        = f.check_box :organisation_admin, class: "fancy"
        = f.label :organisation_admin
        %br
        = f.check_box :admin, class: "fancy"
        = f.label :admin
        %br
        %span.subordinate{data: {dependent: "#user_admin"}}
          = f.check_box :gatekeeper, class: "fancy"
          = f.label :gatekeeper

    .buttons
      - if @user == current_user
        = f.submit t(:save_your_preferences)
      - else
        = f.submit t(:save_preferences)
      = t :or
      = link_to t(:cancel), '#', :class => 'cancel'
