- user ||= @user

#edit_user
  .header
    = link_to "X", '#', :class => "closer", :data => {:action => "close"}
    %h2.titlebar
      - if @user == current_user
        = t :edit_your_account
      - else
        = t :edit_account_of, name: @user.name

  = form_for @user, :html => {:class => 'edit user password', :autocomplete => false} do |f|

    %p.email
      = f.label :email, class: "required"
      %br
      = f.email_field :email, :required => true, :autofocus => true

    = render "droom/users/edit/password_fields", :f => f

    .buttons
      - if @user == current_user
        = f.submit t(:save_your_preferences)
      - else
        = f.submit t(:save_preferences)
      = t :or
      = link_to t(:cancel), '#', :class => 'cancel'
  




