- user ||= @user

- if user == current_user
  - title = t :edit_your_profile
- elsif user.new_record?
  - title = t :add_new_user
- else
  - title = t(:edit_profile_of, name: user.name)

#edit_user
  = render 'droom/shared/popup_header', title: title

  = form_for user, :html => {:class => 'edit user', :autocomplete => false} do |f|
    = render partial: 'droom/users/edit/user_fields', locals: {f: f, user: user}

    .buttons
      - if user == current_user
        = f.submit t(:save_your_profile)
      - else
        = f.submit t(:save_profile)
      = t :or
      = link_to t(:cancel), '#', :class => 'cancel'

      - if !@user.confirmed?
        - if admin?
          %p.admin
            = f.check_box :send_confirmation, class: "fancy"
            = f.label :send_confirmation
        - elsif @user.organisation && organisation_admin?(@user.organisation)
          - @user.send_confirmation = true
          = f.hidden_field :send_confirmation
