- user ||= @user

- if user == current_user
  - title = t :edit_your_profile
- elsif user.new_record?
  - title = t :add_new_user
  - if Droom.use_organisations? && @user.organisation
    - title = [title, t(:to), user.organisation.name].join(" ")
- else
  - title = t(:edit_profile_of, name: user.name)

#edit_user
  = render 'droom/shared/popup_header', title: title

  = form_for user, :html => {:class => 'edit user', :autocomplete => false} do |f|

    = render partial: 'droom/users/edit/user_fields', locals: {f: f, user: user, minimal: true, timezone_id: "simple_timezone"}
    -# = render partial: 'droom/users/edit/groups', locals: {f: f, user: user, minimal: true}
    = hidden_field_tag "user[group_ids][]", nil

    - groups = Droom::Group.all
    - if groups.any?
      %div{style: 'width: 100%;'}
        = f.label(:group_ids, class: "important") + ":"
        - groups.each do |group|
          %label.inline{for: "user_group_ids_#{group.id}"}
            = check_box_tag "user[group_ids][]", group.id, user.group_ids.include?(group.id), id: "user_group_ids_#{group.id}"
            = group.name

    - unless @user.confirmed?
      = f.hidden_field :send_confirmation, value: true

    - if Droom.use_organisations?
      - if admin?
        %p.organisation.admin
          = f.label :organisation_id
          = f.select :organisation_id, Droom::Organisation.for_selection, :class => 'preferences'
      - else
        = f.hidden_field :organisation_id

    .buttons
      - if user == current_user
        = f.submit t(:save_your_profile)
      - elsif user.new_record?
        = f.submit t(:invite)
      - else
        = f.submit t(:save_profile)
      = t :or
      = link_to t(:cancel), '#', :class => 'cancel'
