- user ||= @user

#edit_user
  .header{data: {draggable: ".popup", remembered: "user"}}
    = link_to "X", '#', :class => "closer", :data => {:action => "close"}
    %h2.titlebar
      - if @user == current_user
        = t :edit_your_profile
      - elsif @user.new_record?
        = t :add_new_user
        - if Droom.use_organisations? && @user.organisation
          to
          = @user.organisation.name
      - else
        = t :edit_profile_of, name: @user.name

  = form_for user, :html => {:class => 'edit user', :autocomplete => false} do |f|
    = render partial: 'droom/users/edit/user_fields', locals: {f: f, user: user, minimal: true}

    - unless @user.confirmed?
      = f.hidden_field :send_confirmation, value: true

    .buttons
      - if user == current_user
        = f.submit t(:save_your_profile)
      - elsif user.new_record?
        = f.submit t(:invite)
      - else
        = f.submit t(:save_profile)
      = t :or
      = link_to t(:cancel), '#', :class => 'cancel'