- user ||= @user
- if local_assigns.has_key? :is_edit_mode
  - is_edit_mode = is_edit_mode
- else
  - is_edit_mode = true

%table{style: 'width: 100%; margin-top: 0px !important; padding: 0px !important;'}
  %tr
    %td{valign: 'top', style: 'width: 17%;'}
      %table{style: 'width: 100%;'}
        %tr
          %td{style: 'width: 100%'}
            %div
              - if user.image?
                - img = user.image.url(:thumb)
              - else
                - img = image_url('droom/missing/user.png')

              .image-upload{:data => {:role => "imagepicker"}}
                %a.box{:href => "#", :style => "background-image: url(#{img})", :data => {:action => "pick"}}
                - if is_edit_mode || @user.new_record?
                  = f.file_field :image

      - if !@user.new_record?
        %table
          %tr
            %td{colspan: 2}
              = 'Created at: ' + user.created_at.strftime('%Y-%m-%d')
          %tr
            %td{colspan: 2}
              - if user.last_sign_in_at.nil?
                = 'Last Signed in: ' + 'none'
              - else
                = 'Last Signed in: ' + user.last_sign_in_at.strftime('%Y-%m-%d')
          %tr
            %td{colspan: 2}
              - if user.confirmed?
                = 'Account Confirmed?: ' + 'Yes'
              - else
                = 'Account Confirmed?: ' + 'No'
          %tr
            %td{colspan: 2}
              - if user.confirmed_at.nil?
                = 'Confirmed Date: ' + 'none'
              - else
                = 'Confirmed Date: ' + user.confirmed_at.strftime('%Y-%m-%d')
          %tr
            %td{colspan: 2}
              - if user.data_room_user?
                = 'Data Room Access: Yes'
              - else
                = 'Data Room Access: No'
          %tr
            %td{colspan: 2}
              - if is_edit_mode
                - if admin?
                  = f.check_box :admin
                  = f.label :admin
              - else
                - if user.admin?
                  = 'Administrator: Yes'
                - else
                  = 'Administrator: No'
          %tr
            %td{colspan: 2}
              = link_to 'Relationship with Croucher', droom.user_activity_url(user.id), :class => 'edit', :data => {:action => 'popup', :affected => "#user_activity_#{user.id}"}

          %tr
            %td{colspan: 2}
              -if can?(:edit, user)
                - if is_edit_mode
                  = link_to t(:edit_account), droom.edit_user_url(user, view: 'preferences'), :class => 'edit', :data => {:action => "popup", :affected => "#user_#{user.id}"}
          %tr
            %td{colspan: 2}
              - if can?(:edit, user)
                - if is_edit_mode
                  = link_to t(:delete_user), droom.user_url(user), :method => 'delete', :class => 'delete', :data => {:action => "remove", :removed => "#user_#{user.id}", :confirm => t(:confirm_delete_user, :name => user.full_name)}

    %td{valign: 'top', style: 'width: 83%;'}
      %div{style: 'width: 100%;'}
        %table
          %tr
            %td Title
            %td Family Name
            %td Given Name
            %td Chinese Name
          %tr
            %td
              - if Droom.use_titles?
                %span.title>
                  - if is_edit_mode || @user.new_record?
                    = f.text_field :title, placeholder: t("placeholders.user.title")
                  - else
                    = f.text_field :title, placeholder: t("placeholders.user.title"), disabled: true
            %td
              %span.name>
                - if is_edit_mode || @user.new_record?
                  = f.text_field :family_name, :required => true, :autofocus => true, placeholder: t("placeholders.user.family_name")
                - else
                  = f.text_field :family_name, :required => true, :autofocus => true, placeholder: t("placeholders.user.family_name"), disabled: true
            %td
              %span.name>
                - if is_edit_mode || @user.new_record?
                  = f.text_field :given_name, :required => true, placeholder: t("placeholders.user.given_name")
                - else
                  = f.text_field :given_name, :required => true, placeholder: t("placeholders.user.given_name"), disabled: true
            %td
              - if Droom.use_chinese_names?
                %span.chinese_name>
                  - if is_edit_mode || @user.new_record?
                    = f.text_field :chinese_name, placeholder: t("placeholders.user.chinese_name")
                  - else
                    = f.text_field :chinese_name, placeholder: t("placeholders.user.chinese_name"), disabled: true
          %tr
            %td DOB
            %td Gender
            %td Organization
            %td Honours
          %tr{valign: 'top'}
            %td
              - if is_edit_mode || @user.new_record?
                = f.date_select :dob,:start_year => 1940
              - else
                = f.date_select :dob,:start_year => 1940, disabled: true
            %td
              = render partial: "droom/users/edit/details", locals: {f: f, user: user, is_edit_mode: is_edit_mode}
            %td
              - if admin?
                - if Droom.use_organisations?
                  %p.organisation
                    = f.label :organisation_id
                    %br
                    - if is_edit_mode || @user.new_record?
                      = f.select :organisation_id, Droom::Organisation.for_selection, :class => 'preferences'
                    - else
                      = f.select :organisation_id, Droom::Organisation.for_selection, :class => 'preferences', disabled: true
                - else
                  %span> None
              - else
                %span> None
            %td
              - if Droom.use_honours?
                %span.honours>
                  - if is_edit_mode || @user.new_record?
                    = f.text_field :honours, placeholder: t("placeholders.user.honours")
                  - else
                    = f.text_field :honours, placeholder: t("placeholders.user.honours"), disabled: true
              - else
                %span.honours>
                  None

        %table{style: 'margin-top: 15px !important; width: 100%;'}
          %tbody
            %tr{valign: 'top'}
              %td
                %table{style: 'width: 100%;'}
                  %tbody
                    %tr
                      %td
                        = render "droom/users/edit/emails", f: f, user: user, is_edit_mode: is_edit_mode
                    %tr
                      %td
                        = render "droom/users/edit/phones", f: f, user: user, is_edit_mode: is_edit_mode
                    %tr
                      %td
                        = render "droom/users/edit/addresses", f: f, user: user, is_edit_mode: is_edit_mode
              %td
                - if Droom.use_biogs?
                  - user.description = "<p></p>" unless user.description?
                  .description.wysihtml
                    .toolbar#t1
                      = render 'droom/shared/toolbar'
                    - if is_edit_mode || @user.new_record?
                      = f.text_area :description
                    - else
                      = f.text_area :description,{disabled: true}
        %table{style: 'width: 100%'}
          %tr
            %td{colspan: 3}
              = render partial: "droom/users/edit/memberships", locals: {f: f, user: user, is_edit_mode: is_edit_mode}
