- user ||= @user

%table{style: 'width: 100%; margin-top: 0px !important; padding: 0px !important;'}
  %tr
    %td{valign: 'top', style: 'width: 17%;'}
      %table{style: 'width: 100%;'}
        %tr
          %td{style: 'width: 100%'}
            %div
              - if user.image?
                - img = user.image.url(:thumb)
              - else
                - img = image_url('droom/missing/user.png')

              .image-upload{:data => {:role => "imagepicker"}}
                %a.box{:href => "#", :style => "background-image: url(#{img})", :data => {:action => "pick"}}
                = f.file_field :image

      %table
        %tr
          %td{colspan: 2}
            = 'Created at: ' + user.created_at.strftime('%Y-%m-%d')
        %tr
          %td{colspan: 2}
            - if user.last_sign_in_at.nil?
              = 'Last Signed in: ' + '-'
            - else
              = 'Last Signed in: ' + user.last_sign_in_at.strftime('%Y-%m-%d')
        %tr
          %td{colspan: 2}
            - if user.confirmed?
              = 'Account Confirmed?: ' + 'Yes'
            - else
              = 'Account Confirmed?: ' + 'No'
        %tr
          %td{colspan: 2}
            - if user.confirmed_at.nil?
              = 'Confirmed Date: ' + '-'
            - else
              = 'Confirmed Date: ' + user.confirmed_at.strftime('%Y-%m-%d')
        %tr
          %td{colspan: 2}
            - if admin?
              = f.check_box :admin
              = f.label :admin
        %tr
          %td{colspan: 2}
            -if can?(:edit, user)
              = link_to t(:edit_account), droom.edit_user_url(user, view: 'preferences'), :class => 'edit', :data => {:action => "popup", :affected => "#user_#{user.id}"}
        %tr
          %td{colspan: 2}
            - if can?(:edit, user)
              = link_to t(:delete_user), droom.user_url(user), :method => 'delete', :class => 'delete', :data => {:action => "remove", :removed => "#user_#{user.id}", :confirm => t(:confirm_delete_user, :name => user.full_name)}

    %td{valign: 'top', style: 'width: 83%;'}
      %div{style: 'width: 100%;'}
        %table
          %tr
            %td Title
            %td Family Name
            %td Given Name
            %td Chinese Name
          %tr
            %td
              - if Droom.use_titles?
                %span.title>
                  = f.text_field :title, placeholder: t("placeholders.user.title")
            %td
              %span.name>
                = f.text_field :family_name, :required => true, :autofocus => true, placeholder: t("placeholders.user.family_name")
            %td
              %span.name>
                = f.text_field :given_name, :required => true, placeholder: t("placeholders.user.given_name")
            %td
              - if Droom.use_chinese_names?
                %span.chinese_name>
                  = f.text_field :chinese_name, placeholder: t("placeholders.user.chinese_name")
          %tr
            %td DOB
            %td Gender
            %td Organization
            %td Honours
          %tr{valign: 'top'}
            %td
              = f.date_select :dob,:start_year => 1940
            %td
              = render partial: "droom/users/edit/details", locals: {f: f, user: user}
            %td
              - if admin?
                - if Droom.use_organisations?
                  %p.organisation
                    = f.label :organisation_id
                    %br
                    = f.select :organisation_id, Droom::Organisation.for_selection, :class => 'preferences'
                - else
                  %span> None
              - else
                %span> None
            %td
              - if Droom.use_honours?
                %span.honours>
                  = f.text_field :honours, placeholder: t("placeholders.user.honours")
              - else
                %span.honours>
                  None

        %table{style: 'margin-top: 15px !important; width: 100%;'}
          %tbody
            %tr{valign: 'top'}
              %td
                %table{style: 'width: 100%;'}
                  %tbody
                    %tr
                      %td
                        = render "droom/users/edit/emails", f: f, user: user
                    %tr
                      %td
                        = render "droom/users/edit/phones", f: f, user: user
                    %tr
                      %td
                        = render "droom/users/edit/addresses", f: f, user: user
              %td
                - if Droom.use_biogs?
                  - user.description = "<p></p>" unless user.description?
                  .description.wysihtml
                    .toolbar#t1
                      = render 'droom/shared/toolbar'
                    = f.text_area :description
        %table{style: 'width: 100%'}
          %tr
            %td{colspan: 3}
              = render partial: "droom/users/edit/memberships", locals: {f: f, user: user}

