- user ||= @user
- minimal ||= false

- if user.image?
  - img = user.image.url(:thumb)

= render "droom/users/edit/name_fields", f: f, user: user

.contacts.non-file-data
  = render "droom/users/edit/emails", f: f, user: user
  - unless minimal
    = render "droom/users/edit/phones", f: f, user: user
    = render "droom/users/edit/addresses", f: f, user: user

- if Droom.use_biogs?
  .image-upload{:data => {:role => "imagepicker"}}
    %a.box{:href => "#", :style => "background-image: url(#{img})", :data => {:action => "pick"}}
    = f.file_field :image

  .description
    = f.text_area :description, class: "rte", data: {placeholder: t("placeholders.user.description")}

  - if user.id
    = f.time_zone_select :timezone,nil, selected: user.try(:timezone), default: 'Hong Kong'

    :javascript
      $('#user_timezone').selectize();
