- content_for :js do
  = javascript_include_tag "ed"

- image_url = @page.main_image.url(:hero) if @page.main_image
- image_weighting = @page.main_image_weighting.presence || 'center center'
- @page.intro = "" unless @page.intro?
- @page.content = "" unless @page.content?
- @page.main_image_caption = "" unless @page.main_image_caption?


= form_for @page, html: {id: "page_form", data: {editor: "ed"}} do |f|
  %aside#page_controls
    %h3
      %a.breadhead{href: droom.pages_url}
        = t("pages.index")
      = t "pages.edit"
    %p
      = f.submit "save & preview"
      &nbsp;
      or
      &nbsp;
      - if @page.persisted?
        = link_to t(:cancel), droom.page_url(@page), class: "cancel"
      - else
        = link_to t(:cancel), droom.pages_url, class: "cancel"

    = render partial: "droom/pages/edit/instructions"


  %section#editor
    #page_editor
      #page_masthead.editing
        = f.hidden_field :main_image_id, data: {ed: "main_image_id"}
        = f.hidden_field :main_image_weighting, data: {ed: "main_image_weighting"}

        .bg.ed-image{style: "background-image: url('#{image_url}'); background-position: #{image_weighting}", data: {image: @page.main_image_id, placeholder: "Click or drop here to add your main image"}}
          .holder
            .ed-buttons
            .ed-dropmask
              %p.prompt
                Click or drop an image here
        .darken
        .fg
          #page_title
            = f.hidden_field :title, data: {ed: 'title'}
            = f.hidden_field :subtitle, data: {ed: 'subtitle'}
            %h1.title
              %span.ed-title{contenteditable: true, data: {placeholder: "Click to edit page title"}}<
                = @page.title
            / %p.subtitle
            /   %span.ed-subtitle{contenteditable: true, data: {placeholder: "Click to add optional strapline"}}<
            /     = @page.subtitle

      / #page_intro
      /   = f.hidden_field :intro, data: {ed: 'intro'}
      /   %p
      /     %span.ed-intro{contenteditable: true, data: {placeholder: "Click here to give your page an introduction. This text may also be used as a preview in lists and email summaries."}}<
      /       = @page.intro.html_safe

      #page_content.ed-content.editing<
        = f.hidden_field :content, data: {ed: 'content'}
        .content{contenteditable: true}
          = @page.content.html_safe

        .placeholder
          %p
            Click here to edit the main text of your page.

          %p
            %span.selected
              Select some text
            to bring up the editing toolbar, create a link or change formatting.

          %p
            Click the
            %svg.prefix
              %use{"xlink:href" => "#plus_symbol"}
            button on next to a blank line to insert an image, video clip, quote or button.

          %p
            Once an image, video etc has been inserted in the text it can be styled and populated.
            Drop a file or click the
            %svg.prefix
              %use{"xlink:href" => "#upload_symbol"}
            upload button to add a new asset. Click the
            %svg.prefix
              %use{"xlink:href" => "#reuse_symbol"}
            recycle button to choose a previously uploaded asset.
